node-red/Wonderware_Integration/Live model - WW input Integration.json
[{"id":"8c833cd9.69af2","type":"tab","label":"Live model - WW input Integration","disabled":false,"info":""},{"id":"dc379b45.ca7e88","type":"function","z":"8c833cd9.69af2","name":"Ingest job URL","func":"\nmsg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"Content-Type\": flow.get(\"contentType\")\n    },\n    method: 'POST',\n    url: global.get(\"baseURL\") + global.get(\"liveEndpoint\") + \"/ingestjobs\",\n    payload:msg.ingestSpec\n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":100,"wires":[["1dd23681.910209"]]},{"id":"1dd23681.910209","type":"http request","z":"8c833cd9.69af2","name":"Execute Request","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":100,"wires":[["16a70314.996a3d","eebbdd66.abb3c"]]},{"id":"3778e484.5df2ac","type":"function","z":"8c833cd9.69af2","name":"Input job URL","func":"var pl = msg.payload\nmsg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"content-type\":\"text/csv;format=narrow\"\n    },\n    method:'POST',\n    url: global.get(\"baseURL\") + global.get(\"liveEndpoint\") + \"/ingestjobs/\"+ flow.get(\"jobId\")+ \"/inputs\",\n    payload:pl,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["a72ef270.d96a5"]]},{"id":"16a70314.996a3d","type":"link out","z":"8c833cd9.69af2","name":"Response output","links":["120e0d60.2df9a3"],"x":1015,"y":100,"wires":[]},{"id":"21a01a51.f20906","type":"function","z":"8c833cd9.69af2","name":"Falkonry Settings","func":"var topic = msg.topic;\nif (topic === \"default\")\n{\nglobal.set(\"baseURL\",\"https://dev.falkonry.ai\");\nglobal.set(\"falkonryToken\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE4ODQwNzM4MzUsICJlbWFpbCIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAibmFtZSIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAic2Vzc2lvbiIgOiAiNjIzNDU1NzU2MzYzMDE0MTQ0IiB9.hXNfyXcT9xIfqIPxqOeheLrXuP9TAdhBLyyUjcc97-0\");\nglobal.set(\"wwURL\",\"https://insight.connect.aveva.com/apis/Historian/v2/\");\nglobal.set(\"wwToken\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjNjNmRhMGRiLTU5ZDgtNDhjOS1hY2MzLTBlMjJiNTU0ZGI5MSJ9.eyJ0eXBlIjoic2VydmljZSIsInZlcnNpb24iOiIxLjAiLCJ0ZW5hbnRpZCI6IjM3M2FhOTdiLWVhNTMtNDk3NS05NDIyLWE4MzgzYWY3ZTE0ZSIsInNpaWQiOiJkZDU0NjQyOS04ZGQ0LTQ1NzQtODA0ZS03NTFhNTk4ZTUxNzEiLCJqdGkiOiI5NmFlNDk1Yy04YTJhLTRiYzEtOWVmNS05MjdkOWRlMGM5MmYiLCJpc3MiOiJwcm9vZm9maWRlbnRpdHlzZXJ2aWNlIn0.IKca5z7oP6M1RFK-qn6gv46u9Nf2fAzWFre3fDe81bWUcQBYdkvCq2Gca696rXd8IwLLdMGOjFWJ0H7dd43889jZSMUEJiw1Mq4wAUk53_ujHAM9d9Ztp1gZWS8d0kIADSXbOZwPoYuhJoO3eQ15YyzsDjkQ5lTXYx6Cqhs2qlqQr0DcW9Wr39bRNJ6H-SitqshDqSEYwsUtno5FsAnqoFeMuApTQm3UgerFlCfICZgg7n5P0nbzZJJ0D83PYjbemGoqI5k2G9ktGHPQ3UciL2mdqSf5srxP6Hc1lDEQHSqjMa-EJcwnruE3D0SCIq0VoDpNqDJx-dFfCKDkgijSKA\");\nglobal.set(\"wwQuery\",\"ProcessValues?$filter=DateTime ge 2016-02-17T10:30:00.000000Z and DateTime le 2016-02-21T10:28:50.00000Z&RetrievalMode=Full&TagFilter=startswith(FQN,'WideData')\");flow.set(\"liveEndpoint\",\"/api/1.1/accounts/600756889714286592/datastreams/623678939434532864/assessments/623678939459698688/live/634874498224918528\");\nglobal.set(\"liveEndpoint\",\"/api/1.1/accounts/600756889714286592/datastreams/623678939434532864/assessments/623678939459698688/live/635969176951226368\");\nflow.set(\"contentType\", \"text/csv\");\nmsg.issue = \"Default config selected; Creating ingest job ....\";\nreturn msg;\n}\nelse if(topic === \"user\")\n{\n    if(msg.payload.existingData === true)\n    {\n        global.baseURL = global.set(\"baseURL\",\"https://dev.falkonry.ai\");\n        global.falkonryToken = global.get(\"falkonryToken\");\n        global.wwURL = global.get(\"wwURL\");\n        global.wwToken = global.get(\"wwToken\");\n        global.wwupURL = global.get(\"wwupURL\");\n        global.wwupToken = global.get(\"wwupToken\");\n    }\n    else\n    {\n        global.set(\"baseURL\", msg.payload.baseURL);\n        global.set(\"falkonryToken\",payload.falkonryToken);\n        global.set(\"wwURL\",msg.payload.wwURL);\n        global.set(\"wwToken\",msg.payload.wwToken);\n        global.set(\"wwupURL\",msg.payload.wwupURL);\n        global.set(\"wwupToken\",msg.payload.wwupToken);\n    }\nglobal.set(\"liveEndpoint\",msg.payload.liveEndpoint);\nflow.set(\"contentType\", \"text/csv\");\nflow.set(\"state\",\"STOP\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":100,"wires":[["33c6fd38.e87492"]]},{"id":"33c6fd38.e87492","type":"change","z":"8c833cd9.69af2","name":"Ingest Settings","rules":[{"t":"set","p":"ingestSpec","pt":"msg","to":"{\"type\":\"Ingest\",\"entityIdentifier\":\"entity\",\"timeIdentifier\":\"time\",\"signalIdentifier\":\"signal\",\"valueIdentifier\":\"value\",\"timeFormat\":\"iso_8601\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["dc379b45.ca7e88"]]},{"id":"120e0d60.2df9a3","type":"link in","z":"8c833cd9.69af2","name":"","links":["16a70314.996a3d"],"x":15,"y":180,"wires":[["588ca5ac.d3327c"]]},{"id":"ae71d277.67bdb","type":"function","z":"8c833cd9.69af2","name":"Wonderware settings","func":"flow.set(\"state\",\"START\");\nmsg = {\n    headers:{\n       \"Authorization\":'Bearer ' + global.get(\"wwToken\"),\n    },\n    url: global.get(\"wwURL\") + global.get(\"wwQuery\"),\n    method:\"GET\",\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["169b6c24.d60d54"]]},{"id":"169b6c24.d60d54","type":"http request","z":"8c833cd9.69af2","name":"Get Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":280,"wires":[["4634ba84.501604"]]},{"id":"4634ba84.501604","type":"json","z":"8c833cd9.69af2","name":"","property":"payload","action":"","pretty":false,"x":490,"y":280,"wires":[["1b9592a0.4295dd"]]},{"id":"1b9592a0.4295dd","type":"function","z":"8c833cd9.69af2","name":"Transform","func":"var value = [];\nvar entity = [];\nvar DateTime = [];\nvar signal = [];\nvar combine = \"time,entity,signal,value\\n\";\nfor (var i = 0; i < msg.payload.value.length ; i++)\n{\n    \n    if(msg.payload.value[i].FQN !='WideData.entity')\n    {\n        DateTime += msg.payload.value[i].DateTime + \",\";\n        entity += \"machine1\" + \",\";\n        signal += msg.payload.value[i].FQN.split('.').pop() + \",\";\n        value += msg.payload.value[i].Value + \",\";\n    }\n    \n}\nDateTime = DateTime.split(\",\");\nentity = entity.split(\",\");\nsignal = signal.split(\",\");\nvalue = value.split(\",\");\nfor (i = 0; i < msg.payload.value.length ; i++)\n{\n    \n    combine += DateTime[i]+ \",\" +entity[i]+ \",\" + signal[i]+ \",\" +value[i]+ \"\\n\";\n}\ncombine = combine.split('\\n');\ncombine = combine.slice(0,4545);\ncombine = combine.join('\\n');\nmsg.payload = combine;\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["a719d9b4.919338"]]},{"id":"eebbdd66.abb3c","type":"debug","z":"8c833cd9.69af2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":160,"wires":[]},{"id":"8491c4ea.7cc9e8","type":"link out","z":"8c833cd9.69af2","name":"","links":["99b0e12.0ae342"],"x":275,"y":180,"wires":[]},{"id":"99b0e12.0ae342","type":"link in","z":"8c833cd9.69af2","name":"","links":["8491c4ea.7cc9e8"],"x":35,"y":280,"wires":[["ae71d277.67bdb"]]},{"id":"a1bdd5c8.0787a8","type":"link out","z":"8c833cd9.69af2","name":"","links":["ed0c580.2fcbfa8"],"x":1055,"y":300,"wires":[]},{"id":"ed0c580.2fcbfa8","type":"link in","z":"8c833cd9.69af2","name":"","links":["a1bdd5c8.0787a8"],"x":375,"y":180,"wires":[["3778e484.5df2ac"]]},{"id":"a719d9b4.919338","type":"function","z":"8c833cd9.69af2","name":"Split Lines","func":"var lines = msg.payload.split(\"\\n\");\nvar header = lines[0];\nvar data = lines.slice(1);\nfor (var l in data) {\n    if (flow.get(\"state\")===\"STOP\") {\n        break\n    }\n    node.send({payload:header+\"\\n\"+data[l]});\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["a489f629.4c8e78"]]},{"id":"a489f629.4c8e78","type":"delay","z":"8c833cd9.69af2","name":"Throttle","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"50","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":280,"wires":[["a1bdd5c8.0787a8","4ee6905.6f73f7"]]},{"id":"588ca5ac.d3327c","type":"change","z":"8c833cd9.69af2","name":"","rules":[{"t":"set","p":"jobId","pt":"flow","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":180,"wires":[["8491c4ea.7cc9e8"]]},{"id":"a72ef270.d96a5","type":"http request","z":"8c833cd9.69af2","name":"Execute Request","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":180,"wires":[["eebbdd66.abb3c"]]},{"id":"67767c42.d1f5a4","type":"ui_form","z":"8c833cd9.69af2","name":"","label":"","group":"1e22a3a0.1fcbdc","order":1,"width":0,"height":0,"options":[{"label":"<<live job endpoint>>","value":"liveEndpoint","type":"text","required":true},{"label":"Use Existing Falkonry & Wonderware settings?","value":"existingData","type":"switch","required":true},{"label":"<<wwi-ingest-address>>(Optional if using existing)","value":"wwURL","type":"text","required":false},{"label":"wwi-ingest-Token (Optional if using existing)","value":"wwToken","type":"text","required":false},{"label":"<<Falkonry-server-address>> (Optional if using existing)","value":"baseURL","type":"text","required":false},{"label":"Falkonry-Token(Optional if using existing)","value":"falkonryToken","type":"text","required":false},{"label":"<<wwi-upload-endpoint>>(Optional if using existing)","value":"wwupURL","type":"text","required":false},{"label":"wwi-upload-Token(Optional if using existing)","value":"wwupToken","type":"password","required":false}],"formValue":{"liveEndpoint":"","existingData":false,"wwURL":"","wwToken":"","baseURL":"","falkonryToken":"","wwupURL":"","wwupToken":""},"payload":"","submit":"submit","cancel":"cancel","topic":"user","x":90,"y":140,"wires":[["21a01a51.f20906"]]},{"id":"b33d891b.eb8918","type":"ui_button","z":"8c833cd9.69af2","name":"","group":"1e22a3a0.1fcbdc","order":3,"width":7,"height":1,"passthru":false,"label":"Use Default Configurations","tooltip":"","color":"","bgcolor":"Green","icon":"","payload":"","payloadType":"str","topic":"default","x":140,"y":40,"wires":[["21a01a51.f20906"]]},{"id":"5a35e06f.7f15c","type":"ui_text","z":"8c833cd9.69af2","group":"b3fc8d18.be4f9","order":1,"width":7,"height":8,"name":"Progress Tab","label":"","format":"{{msg.issue}}","layout":"col-center","x":1270,"y":280,"wires":[]},{"id":"4ee6905.6f73f7","type":"change","z":"8c833cd9.69af2","name":"","rules":[{"t":"set","p":"issue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":240,"wires":[["5a35e06f.7f15c"]]},{"id":"bb3a8946.fd5da8","type":"inject","z":"8c833cd9.69af2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":420,"wires":[["bf490d1f.6d2ea"]]},{"id":"bf490d1f.6d2ea","type":"change","z":"8c833cd9.69af2","name":"Progress Tab Default","rules":[{"t":"set","p":"issue","pt":"msg","to":"Submit configs or run default to Begin!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":420,"wires":[["39aca6cd.c2e2ea"]]},{"id":"e09bc3c9.efef4","type":"comment","z":"8c833cd9.69af2","name":"Progress Tab Reset on deploy","info":"","x":200,"y":380,"wires":[]},{"id":"39aca6cd.c2e2ea","type":"link out","z":"8c833cd9.69af2","name":"","links":["a206b1b1.fa1bc"],"x":615,"y":420,"wires":[]},{"id":"a206b1b1.fa1bc","type":"link in","z":"8c833cd9.69af2","name":"","links":["39aca6cd.c2e2ea"],"x":1135,"y":320,"wires":[["5a35e06f.7f15c"]]},{"id":"4d788fd5.33e5d","type":"function","z":"8c833cd9.69af2","name":"STOP and reset Throttle","func":"flow.set(\"state\",\"STOP\")\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["a489f629.4c8e78"]]},{"id":"c64dac5c.601af","type":"inject","z":"8c833cd9.69af2","name":"Init","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"0.5","x":330,"y":340,"wires":[["6b5d4bb.bf742b4"]]},{"id":"6b5d4bb.bf742b4","type":"ui_button","z":"8c833cd9.69af2","name":"Abort","group":"b3fc8d18.be4f9","order":3,"width":"4","height":"1","passthru":false,"label":"Stop Sending Data","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":480,"y":340,"wires":[["4d788fd5.33e5d"]]},{"id":"83e4385f.22f778","type":"comment","z":"8c833cd9.69af2","name":"Create ingest job for live model","info":"","x":510,"y":60,"wires":[]},{"id":"79f41057.fca68","type":"comment","z":"8c833cd9.69af2","name":"Get data from Wonderware","info":"","x":270,"y":240,"wires":[]},{"id":"97b45e48.e3bfe","type":"comment","z":"8c833cd9.69af2","name":"Stream Wonderware data @ 50 msgs/sec","info":"","x":880,"y":240,"wires":[]},{"id":"89168147.8fe1d","type":"comment","z":"8c833cd9.69af2","name":"Push data into live model","info":"","x":510,"y":140,"wires":[]},{"id":"1e22a3a0.1fcbdc","type":"ui_group","z":"","name":"Live Job Config","tab":"afa98e3f.b764c","order":1,"disp":true,"width":"9","collapse":false},{"id":"b3fc8d18.be4f9","type":"ui_group","z":"","name":"Progress Tab","tab":"afa98e3f.b764c","order":2,"disp":true,"width":"7","collapse":false},{"id":"afa98e3f.b764c","type":"ui_tab","z":"","name":"WWI Integration- Live Dashboard","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
