node-red/Wonderware_Integration/Live model - WW input Integration.json
[
    {
        "id": "95168583.313cc8",
        "type": "tab",
        "label": "Live model - WW input Integration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f4238578.dba0c8",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Ingest job URL",
        "func": "msg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"Content-Type\": flow.get(\"contentType\")\n    },\n    method: 'POST',\n    url: global.get(\"baseURL\") + global.get(\"liveEndpoint\") + \"/ingestjobs\",\n    payload:msg.ingestSpec\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "167153f6.b7a2dc"
            ]
        ]
    },
    {
        "id": "167153f6.b7a2dc",
        "type": "http request",
        "z": "95168583.313cc8",
        "name": "Execute Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "eb82c1dd.be859",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "8fa3716a.e6411",
                "57d2d560.eebafc"
            ]
        ]
    },
    {
        "id": "2ce8cd9e.47eba2",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Input job URL",
        "func": "var pl = msg.payload\nmsg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"content-type\":\"text/csv;format=narrow\"\n    },\n    method:'POST',\n    url: global.get(\"baseURL\") + global.get(\"liveEndpoint\") + \"/ingestjobs/\"+ flow.get(\"jobId\")+ \"/inputs\",\n    payload:pl,\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "490d81f0.70e04",
                "3368d436.f41acc",
                "8bfe8a8f.4f3dd8"
            ]
        ]
    },
    {
        "id": "8fa3716a.e6411",
        "type": "link out",
        "z": "95168583.313cc8",
        "name": "Response output",
        "links": [
            "c3237e55.a8629"
        ],
        "x": 1435,
        "y": 280,
        "wires": []
    },
    {
        "id": "124e8762.f88599",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Capture user/File Info",
        "func": "var topic = msg.topic;\nvar baseURL = global.baseURL;\nif (topic === \"default\")\n{\nglobal.set(\"baseURL\", msg.payload.baseURL);\nglobal.set(\"falkonryToken\",msg.payload.falkonryToken);\nglobal.set(\"wwURL\",msg.payload.wonderware_ingest_URL);\nglobal.set(\"wwToken\",msg.payload.wonderware_ingest_Token);\nglobal.set(\"wwupURL\",msg.payload.wonderware_upload_URL);\nglobal.set(\"wwupToken\",msg.payload.wonderware_upload_Token);\nglobal.set(\"query_FQN\",msg.payload.query_FQN);\nglobal.set(\"query_startDate\",msg.payload.query_startDate);\nglobal.set(\"query_endDate\",msg.payload.query_endDate);\nglobal.set(\"liveEndpoint\",msg.payload.liveEndpoint);\nflow.set(\"contentType\", \"text/csv\");\nflow.set(\"state\",\"RESUME\");\nmsg.issue = \"Default config selected; Creating ingest job ....\";\nreturn msg;\n}\nelse if(topic === \"user\")\n{\n    if(msg.payload.existingData === true)\n    {\n        global.baseURL = global.get(\"baseURL\");\n        global.falkonryToken = global.get(\"falkonryToken\");\n        global.wwURL = global.get(\"wwURL\");\n        global.wwToken = global.get(\"wwToken\");\n        global.wwupURL = global.get(\"wwupURL\");\n        global.wwupToken = global.get(\"wwupToken\");\n        global.query_FQN = global.get(\"query_FQN\");\n        global.query_startDate = global.get(\"query_startDate\");\n        global.query_endDate = global.get(\"query_endDate\");\n    }\n    else\n    {\n        global.set(\"baseURL\", msg.payload.baseURL);\n        global.set(\"falkonryToken\",msg.payload.falkonryToken);\n        global.set(\"wwURL\",msg.payload.wwURL);\n        global.set(\"wwToken\",msg.payload.wwToken);\n        global.set(\"wwupURL\",msg.payload.wwupURL);\n        global.set(\"wwupToken\",msg.payload.wwupToken);\n        global.set(\"query_FQN\",msg.payload.query_FQN);\n        global.set(\"query_startDate\",msg.payload.query_startDate);\n        global.set(\"query_endDate\",msg.payload.query_endDate);\n    }\nglobal.set(\"liveEndpoint\",msg.payload.liveEndpoint);\nflow.set(\"contentType\", \"text/csv\");\nflow.set(\"state\",\"RESUME\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "fbd84ecc.70141"
            ]
        ]
    },
    {
        "id": "fbd84ecc.70141",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "Ingest Settings",
        "rules": [
            {
                "t": "set",
                "p": "ingestSpec",
                "pt": "msg",
                "to": "{\"type\":\"Ingest\",\"entityIdentifier\":\"entity\",\"timeIdentifier\":\"time\",\"signalIdentifier\":\"signal\",\"valueIdentifier\":\"value\",\"timeFormat\":\"iso_8601\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 280,
        "wires": [
            [
                "f4238578.dba0c8"
            ]
        ]
    },
    {
        "id": "c3237e55.a8629",
        "type": "link in",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "8fa3716a.e6411"
        ],
        "x": 15,
        "y": 440,
        "wires": [
            [
                "a2cbd048.0863e"
            ]
        ]
    },
    {
        "id": "a0258332.1d3a4",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "WW ingest URL",
        "func": "var state = flow.get(\"state\");\nif(state == \"RESUME\")\n{\nmsg = {\n    headers:{\n       \"Authorization\":'Bearer ' + global.get(\"wwToken\"),\n    },\n    method:\"GET\",\n    url: global.get(\"wwURL\") + \"ProcessValues?$filter=DateTime ge \"+ global.get(\"query_startDate\") +\" and DateTime le \"+ global.get(\"query_endDate\") + \"&RetrievalMode=Full&TagFilter=startswith(FQN,'\"+global.get(\"query_FQN\")+\"')\"\n}\nreturn msg;\n}\nelse {return null;}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 660,
        "wires": [
            [
                "b55ae3ad.0303e"
            ]
        ]
    },
    {
        "id": "b55ae3ad.0303e",
        "type": "http request",
        "z": "95168583.313cc8",
        "name": "Get WW Data",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 320,
        "y": 660,
        "wires": [
            [
                "97e17505.a45c98",
                "56444d20.602c84"
            ]
        ]
    },
    {
        "id": "97e17505.a45c98",
        "type": "json",
        "z": "95168583.313cc8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 660,
        "wires": [
            [
                "9920ad77.9d349"
            ]
        ]
    },
    {
        "id": "9920ad77.9d349",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Transform",
        "func": "var value = [];\nvar entity = [];\nvar DateTime = [];\nvar signal = [];\nvar combine = \"time,entity,signal,value\\n\";\nvar queryFQN = global.get (\"query_FQN\");\nfor (var i = 0; i < msg.payload.value.length ; i++)\n{\n    \n    if(msg.payload.value[i].FQN !=queryFQN + '.entity')\n    {\n        DateTime += msg.payload.value[i].DateTime + \",\";\n        signal += msg.payload.value[i].FQN.split('.').pop() + \",\";\n        value += msg.payload.value[i].Value + \",\";\n    }\n    else\n    {\n        entity = msg.payload.value[i].Text + \",\";\n    }\n}\nDateTime = DateTime.slice(0,-1).split(\",\");\nsignal = signal.slice(0,-1).split(\",\");\nvalue = value.slice(0,-1).split(\",\");\nentity = entity.slice(0,-1).split(\",\");\nvar store = [];\nfor (i = 0; i < signal.length; i++)\n{\n    store += entity[0] + \",\";\n}\n\nentity = store.slice(0,-1).split(\",\");\nfor (i = 0; i < signal.length; i++)\n{\n    \n    combine += DateTime[i]+ \",\" +entity[i]+ \",\" + signal[i]+ \",\" +value[i]+ \"\\n\";\n}\nmsg.payload = combine;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 660,
        "wires": [
            [
                "9d04ff1f.b16ab"
            ]
        ]
    },
    {
        "id": "5f37b33c.eb0d4c",
        "type": "link out",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "e1e08a61.a12798"
        ],
        "x": 275,
        "y": 440,
        "wires": []
    },
    {
        "id": "e1e08a61.a12798",
        "type": "link in",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "5f37b33c.eb0d4c",
            "afb80e4a.facbe"
        ],
        "x": 15,
        "y": 660,
        "wires": [
            [
                "a0258332.1d3a4"
            ]
        ]
    },
    {
        "id": "961bd252.034ce",
        "type": "link out",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "84b813e7.0228"
        ],
        "x": 1055,
        "y": 680,
        "wires": []
    },
    {
        "id": "84b813e7.0228",
        "type": "link in",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "961bd252.034ce"
        ],
        "x": 575,
        "y": 440,
        "wires": [
            [
                "2ce8cd9e.47eba2"
            ]
        ]
    },
    {
        "id": "9d04ff1f.b16ab",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Split Lines",
        "func": "var lines = msg.payload.split(\"\\n\");\nvar header = lines[0];\nvar data = lines.slice(1);\nfor (var l in data) {\n    if (flow.get(\"state\")===\"STOP\") {\n        break\n    }\n    node.send({payload:header+\"\\n\"+data[l]});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 660,
        "wires": [
            [
                "1c1af80c.301518"
            ]
        ]
    },
    {
        "id": "1c1af80c.301518",
        "type": "delay",
        "z": "95168583.313cc8",
        "name": "Throttle",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "50",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 920,
        "y": 680,
        "wires": [
            [
                "8dca0742.4839a8",
                "961bd252.034ce"
            ]
        ]
    },
    {
        "id": "a2cbd048.0863e",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jobId",
                "pt": "flow",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "5f37b33c.eb0d4c"
            ]
        ]
    },
    {
        "id": "490d81f0.70e04",
        "type": "http request",
        "z": "95168583.313cc8",
        "name": "Execute Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "eb82c1dd.be859",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 930,
        "y": 440,
        "wires": [
            [
                "1cbc1284.455ecd"
            ]
        ]
    },
    {
        "id": "6d80630d.1f0e3c",
        "type": "ui_form",
        "z": "95168583.313cc8",
        "name": "Form UI",
        "label": "",
        "group": "38ea541e.73c9ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "<<live job endpoint>>",
                "value": "liveEndpoint",
                "type": "text",
                "required": true
            },
            {
                "label": "Use Existing Falkonry & Wonderware Configs?",
                "value": "existingData",
                "type": "switch",
                "required": true
            },
            {
                "label": "<<Falkonry-server-address>> (Optional if using existing)",
                "value": "baseURL",
                "type": "text",
                "required": false
            },
            {
                "label": "Falkonry-Token(Optional if using existing)",
                "value": "falkonryToken",
                "type": "password",
                "required": false
            },
            {
                "label": "<<wwi-ingest-address>>(Optional if using existing)",
                "value": "wonderware_ingest_URL",
                "type": "text",
                "required": false
            },
            {
                "label": "wwi-ingest-Token (Optional if using existing)",
                "value": "wonderware_ingest_Token",
                "type": "password",
                "required": false
            },
            {
                "label": "<<wwi-upload-endpoint>>(Optional if using existing)",
                "value": "wonderware_upload_URL",
                "type": "text",
                "required": false
            },
            {
                "label": "wwi-upload-Token(Optional if using existing)",
                "value": "wonderware_upload_Token",
                "type": "password",
                "required": false
            },
            {
                "label": "Historian Data source(Optional if using existing)",
                "value": "query_FQN",
                "type": "text",
                "required": false
            },
            {
                "label": "Query_StartDate(Optional if using existing)",
                "value": "Query_StartDate",
                "type": "text",
                "required": false
            },
            {
                "label": "Query_EndDate(Optional if using existing)",
                "value": "query_endDate",
                "type": "text",
                "required": false
            }
        ],
        "formValue": {
            "liveEndpoint": "",
            "existingData": false,
            "baseURL": "",
            "falkonryToken": "",
            "wonderware_ingest_URL": "",
            "wonderware_ingest_Token": "",
            "wonderware_upload_URL": "",
            "wonderware_upload_Token": "",
            "query_FQN": "",
            "Query_StartDate": "",
            "query_endDate": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "user",
        "x": 50,
        "y": 320,
        "wires": [
            [
                "d8788269.06154"
            ]
        ]
    },
    {
        "id": "45fb62c3.a7298c",
        "type": "ui_text",
        "z": "95168583.313cc8",
        "group": "50f1e997.11cfa8",
        "order": 1,
        "width": 7,
        "height": 8,
        "name": "Progress Tab",
        "label": "",
        "format": "{{msg.issue}}",
        "layout": "col-center",
        "x": 1870,
        "y": 880,
        "wires": []
    },
    {
        "id": "3368d436.f41acc",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "Send ui message",
        "rules": [
            {
                "t": "set",
                "p": "issue",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 500,
        "wires": [
            [
                "45fb62c3.a7298c"
            ]
        ]
    },
    {
        "id": "3aaa8eb.6ea0072",
        "type": "inject",
        "z": "95168583.313cc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "ad72815.8d4b98"
            ]
        ]
    },
    {
        "id": "168f7a4d.83ae66",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "Reset Progress Tab & Live Endpoint on Deploy",
        "rules": [
            {
                "t": "set",
                "p": "issue",
                "pt": "msg",
                "to": "Submit configs manually or use configurations.yaml file to Begin!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "d294e919.44e4f8"
            ]
        ]
    },
    {
        "id": "489000bc.23211",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Progress Tab Reset on deploy",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "d294e919.44e4f8",
        "type": "link out",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "ec7538ec.f6c3b8"
        ],
        "x": 835,
        "y": 80,
        "wires": []
    },
    {
        "id": "ec7538ec.f6c3b8",
        "type": "link in",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "d294e919.44e4f8",
            "617ed102.5c57b"
        ],
        "x": 1635,
        "y": 1040,
        "wires": [
            [
                "45fb62c3.a7298c",
                "63cc131c.17a8cc"
            ]
        ]
    },
    {
        "id": "ea0b08da.4f9f08",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Create ingest job for live model",
        "info": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "16c68d30.480113",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Get WW data (Flow below)",
        "info": "",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "4e323966.b153a8",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Stream Wonderware data @ 50 msgs/sec",
        "info": "",
        "x": 900,
        "y": 600,
        "wires": []
    },
    {
        "id": "22c076f5.471d2a",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Push data into live model",
        "info": "",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "e96d19e.a0b1fe8",
        "type": "ui_form",
        "z": "95168583.313cc8",
        "name": "Form File",
        "label": "<b><h3>OR Get Configurations from a Yaml File </b></h3>",
        "group": "38ea541e.73c9ac",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter the file-path of your config file",
                "value": "fileName",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "fileName": ""
        },
        "payload": "",
        "submit": "Use File Configurations",
        "cancel": "Clear",
        "topic": "default",
        "x": 60,
        "y": 220,
        "wires": [
            [
                "d8788269.06154"
            ]
        ]
    },
    {
        "id": "d8788269.06154",
        "type": "switch",
        "z": "95168583.313cc8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "default",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "user",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "472500a8.db7ea"
            ],
            [
                "124e8762.f88599"
            ]
        ]
    },
    {
        "id": "6258e76a.0b66c8",
        "type": "yaml",
        "z": "95168583.313cc8",
        "property": "payload",
        "name": "Yaml to JS",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "124e8762.f88599"
            ]
        ]
    },
    {
        "id": "716cbf97.27a27",
        "type": "file in",
        "z": "95168583.313cc8",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "6258e76a.0b66c8"
            ]
        ]
    },
    {
        "id": "472500a8.db7ea",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "payload.fileName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "issue",
                "pt": "flow",
                "to": "Creating new Datastream using File Configurations;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "716cbf97.27a27"
            ]
        ]
    },
    {
        "id": "6a0410b9.31655",
        "type": "debug",
        "z": "95168583.313cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1350,
        "y": 740,
        "wires": []
    },
    {
        "id": "8dca0742.4839a8",
        "type": "csv",
        "z": "95168583.313cc8",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "98c05efe.83b52"
            ]
        ]
    },
    {
        "id": "98c05efe.83b52",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "Reset strt_Date",
        "rules": [
            {
                "t": "set",
                "p": "query_startDate",
                "pt": "global",
                "to": "payload.time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 740,
        "wires": [
            [
                "6a0410b9.31655"
            ]
        ]
    },
    {
        "id": "62c1a4f0.352e3c",
        "type": "ui_button",
        "z": "95168583.313cc8",
        "name": "",
        "group": "50f1e997.11cfa8",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "RESUME",
        "payloadType": "str",
        "topic": "",
        "x": 1100,
        "y": 60,
        "wires": [
            [
                "9720fcda.abd6a"
            ]
        ]
    },
    {
        "id": "9720fcda.abd6a",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 80,
        "wires": [
            [
                "afb80e4a.facbe"
            ]
        ]
    },
    {
        "id": "49f68978.e560a8",
        "type": "ui_button",
        "z": "95168583.313cc8",
        "name": "Pause",
        "group": "50f1e997.11cfa8",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "PAUSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "PAUSE",
        "payloadType": "str",
        "topic": "",
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "9720fcda.abd6a"
            ]
        ]
    },
    {
        "id": "62fb6d78.f7f3d4",
        "type": "inject",
        "z": "95168583.313cc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "62c1a4f0.352e3c"
            ]
        ]
    },
    {
        "id": "e8166786.4f15c8",
        "type": "inject",
        "z": "95168583.313cc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 960,
        "y": 140,
        "wires": [
            [
                "49f68978.e560a8"
            ]
        ]
    },
    {
        "id": "afb80e4a.facbe",
        "type": "link out",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "41c9d00d.8d6aa",
            "86be02ec.a4a5b",
            "e1e08a61.a12798"
        ],
        "x": 1435,
        "y": 80,
        "wires": []
    },
    {
        "id": "41c9d00d.8d6aa",
        "type": "link in",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "afb80e4a.facbe"
        ],
        "x": 515,
        "y": 740,
        "wires": [
            [
                "6b62a6ab.9b6d78"
            ]
        ]
    },
    {
        "id": "63cc131c.17a8cc",
        "type": "file",
        "z": "95168583.313cc8",
        "name": "Log File",
        "filename": "/Users/kevalbhanushali/Desktop/Node_red_Integration/Wonderware Integration/logs_live.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1880,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "843df34c.ec049",
        "type": "catch",
        "z": "95168583.313cc8",
        "name": "",
        "scope": [
            "167153f6.b7a2dc",
            "a0258332.1d3a4",
            "b55ae3ad.0303e",
            "97e17505.a45c98",
            "9920ad77.9d349",
            "1c1af80c.301518",
            "490d81f0.70e04",
            "6258e76a.0b66c8",
            "716cbf97.27a27"
        ],
        "uncaught": false,
        "x": 50,
        "y": 960,
        "wires": [
            [
                "fdbd1ba7.6073e8"
            ]
        ]
    },
    {
        "id": "57d2d560.eebafc",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Send ui message",
        "func": "if (msg.statusCode === 201 || msg.statusCode === 200)\n{\n    msg.issue = \"Live Ingest job created; Connecting to Wonderware and will start consuming data\";\n    msg.payload = \"\";\n}\nelse\n{\n    var dt = new Date();\n    msg.issue = dt + \"\\n Failed to create new Ingest job due to failed http request. Error Code: \" + msg.statusCode + \"\\n Error Message :\" + msg.payload;\n    msg.payload = msg.issue;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1570,
        "y": 340,
        "wires": [
            [
                "45fb62c3.a7298c"
            ]
        ]
    },
    {
        "id": "79c0c154.e55c7",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Send ui message",
        "func": "if (msg.statusCode === 201 || msg.statusCode === 200)\n{\n    msg.issue = \"Wonderware connection established successfully; Preparing data to be consumed by the live job\";\n    msg.payload = \"\";\n}\nelse\n{\n    var dt = new Date();\n    msg.issue = dt + \"\\n Failed to create new Ingest job due to failed http request. Error Code: \" + msg.statusCode + \"\\n Error Message :\" + msg.payload;\n    msg.payload = msg.issue;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1510,
        "y": 620,
        "wires": [
            [
                "45fb62c3.a7298c",
                "63cc131c.17a8cc"
            ]
        ]
    },
    {
        "id": "fdbd1ba7.6073e8",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "issue",
                "pt": "msg",
                "to": "error",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 960,
        "wires": [
            [
                "1c1d5131.a5762f",
                "617ed102.5c57b"
            ]
        ]
    },
    {
        "id": "1c1d5131.a5762f",
        "type": "debug",
        "z": "95168583.313cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "x": 420,
        "y": 960,
        "wires": []
    },
    {
        "id": "617ed102.5c57b",
        "type": "link out",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "ec7538ec.f6c3b8"
        ],
        "x": 435,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7f3c6005.4080d",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "Log",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "issue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 800,
        "wires": [
            [
                "63cc131c.17a8cc"
            ]
        ]
    },
    {
        "id": "9f300903.463e68",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Error Handling",
        "info": "",
        "x": 90,
        "y": 920,
        "wires": []
    },
    {
        "id": "c23d3844.a00588",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Control data streaming",
        "info": "",
        "x": 1000,
        "y": 20,
        "wires": []
    },
    {
        "id": "1cbc1284.455ecd",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Reset_state_if_ingest_fails",
        "func": "\nif ( msg.statusCode !== 201 || msg.statusCode !== 200)\n{\n    flow.set(\"state\",\"PAUSE\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "2f4ccbe4.6bcff4"
            ]
        ]
    },
    {
        "id": "2f4ccbe4.6bcff4",
        "type": "debug",
        "z": "95168583.313cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1350,
        "y": 440,
        "wires": []
    },
    {
        "id": "ad72815.8d4b98",
        "type": "ui_button",
        "z": "95168583.313cc8",
        "name": "",
        "group": "50f1e997.11cfa8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "CLEAR PROGRESS TAB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "168f7a4d.83ae66"
            ]
        ]
    },
    {
        "id": "8bfe8a8f.4f3dd8",
        "type": "csv",
        "z": "95168583.313cc8",
        "name": "csv to Json",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "60c5fd78.897194"
            ]
        ]
    },
    {
        "id": "60c5fd78.897194",
        "type": "change",
        "z": "95168583.313cc8",
        "name": "Last DtTime",
        "rules": [
            {
                "t": "set",
                "p": "dateTime",
                "pt": "flow",
                "to": "payload.time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9029028d.8d13a",
        "type": "comment",
        "z": "95168583.313cc8",
        "name": "Handle Configurations",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "6b62a6ab.9b6d78",
        "type": "function",
        "z": "95168583.313cc8",
        "name": "Reset Throttle if Paused",
        "func": "var state = msg.payload;\nif (state == \"PAUSE\")\n{\n    msg.reset = true;\n    msg.issue = \"Data streaming paused at \"+flow.get(\"dateTime\")+\"; Press resume to send next data point when ready\"\n    return msg;\n}\nelse {return null;}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "1c1af80c.301518",
                "45fb62c3.a7298c",
                "7f3c6005.4080d"
            ]
        ]
    },
    {
        "id": "56444d20.602c84",
        "type": "link out",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "b1cc7048.55f87"
        ],
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "b1cc7048.55f87",
        "type": "link in",
        "z": "95168583.313cc8",
        "name": "",
        "links": [
            "56444d20.602c84"
        ],
        "x": 1335,
        "y": 600,
        "wires": [
            [
                "79c0c154.e55c7"
            ]
        ]
    },
    {
        "id": "eb82c1dd.be859",
        "type": "tls-config",
        "z": "",
        "name": "CASPORT-Certs",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "crt.pem",
        "keyname": "key.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "38ea541e.73c9ac",
        "type": "ui_group",
        "z": "",
        "name": "Live Job Config",
        "tab": "18b5aae2.439135",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "50f1e997.11cfa8",
        "type": "ui_group",
        "z": "",
        "name": "Progress Tab",
        "tab": "18b5aae2.439135",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "18b5aae2.439135",
        "type": "ui_tab",
        "z": "",
        "name": "WWI Integration- Live Dashboard",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
