node-red/Wonderware_Integration/Live model - WW output Integration.json
[
    {
        "id": "b91fbb37.5b20d8",
        "type": "subflow",
        "name": "assessment output (3) (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 100,
                "wires": [
                    {
                        "id": "5f3392e8.90134c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 180,
                "wires": [
                    {
                        "id": "b5ea8820.f08388",
                        "port": 0
                    },
                    {
                        "id": "3e3521b5.03a14e",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "4d6ba436.b9ab1c",
        "type": "http request",
        "z": "b91fbb37.5b20d8",
        "name": "http",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "b595843d.41d5e8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "71411e14.2927d"
            ]
        ]
    },
    {
        "id": "71411e14.2927d",
        "type": "csv",
        "z": "b91fbb37.5b20d8",
        "name": "prediction result",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "b5ea8820.f08388",
                "f1816977.c1d778"
            ]
        ]
    },
    {
        "id": "d4f8f3d1.cfb7",
        "type": "http request",
        "z": "b91fbb37.5b20d8",
        "name": "http",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "b595843d.41d5e8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "992eaff0.e09a9"
            ]
        ]
    },
    {
        "id": "b5ea8820.f08388",
        "type": "function",
        "z": "b91fbb37.5b20d8",
        "name": "update offset",
        "func": "context.data = context.data || {};\n\nswitch(msg.topic) {\n    case \"pred\":\n        context.data.pred = msg.payload;\n        msg = null;\n        break;\n    case \"conf\":\n        context.data.conf = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif (context.data !== null && context.data.pred !== null && context.data.conf !== null ) {\n    var pl = {\n        time:context.data.pred.time,\n        prediction: (context.data.pred).value,\n        confidence: (context.data.conf).value,\n        index: context.data.pred.index\n    };\n    context.data = null;\n    msg = {payload:pl,issue:\"\"}\n    return msg\n} else return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "ecb8b956.ec0c68"
            ]
        ]
    },
    {
        "id": "992eaff0.e09a9",
        "type": "csv",
        "z": "b91fbb37.5b20d8",
        "name": "confidence result",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "b5ea8820.f08388"
            ]
        ]
    },
    {
        "id": "5f3392e8.90134c",
        "type": "function",
        "z": "b91fbb37.5b20d8",
        "name": "request latest",
        "func": "var pl = msg.payload\nflow.set(\"subflow_offset\",pl.offset)\nflow.set(\"liveURL\", pl.liveURL)\nflow.set(\"falkonryToken\",pl.token)\nmsg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + flow.get(\"falkonryToken\"),\n       \"Accept\":\"text/csv\"\n    },\n    method:\"GET\",\n    url:flow.get(\"liveURL\")+\"/outputs/predictions?limit=2&offset=latest\"\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "f9284ef9.20c53"
            ]
        ]
    },
    {
        "id": "da976839.39d4f8",
        "type": "csv",
        "z": "b91fbb37.5b20d8",
        "name": "get object",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "1d3df67d.e844ba"
            ]
        ]
    },
    {
        "id": "f9284ef9.20c53",
        "type": "http request",
        "z": "b91fbb37.5b20d8",
        "name": "http",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "b595843d.41d5e8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "da976839.39d4f8"
            ]
        ]
    },
    {
        "id": "1d3df67d.e844ba",
        "type": "function",
        "z": "b91fbb37.5b20d8",
        "name": "output?",
        "func": "if (msg.statusCode != 200) {\n    msg.issue = \"Status Code\"+msg.statusCode;\n}\nvar offset = flow.get(\"subflow_offset\");\nif (msg.payload.length > 1) {\n    if (offset === \"earliest\" || msg.payload[0].index > offset) {\n        msg.issue = \"NONE\";\n    }\n} else msg.issue = \"Waiting for data\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "3e3521b5.03a14e",
                "e188fdf4.cc508"
            ]
        ]
    },
    {
        "id": "3e3521b5.03a14e",
        "type": "switch",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "property": "issue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NONE",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 100,
        "wires": [
            [
                "47945c0b.887464"
            ],
            []
        ]
    },
    {
        "id": "7cc958c0.067498",
        "type": "link in",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "links": [
            "47945c0b.887464"
        ],
        "x": 135,
        "y": 180,
        "wires": [
            [
                "cb2bd565.57d948",
                "8cff2d6c.d7ec2"
            ]
        ]
    },
    {
        "id": "47945c0b.887464",
        "type": "link out",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "links": [
            "7cc958c0.067498"
        ],
        "x": 935,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb2bd565.57d948",
        "type": "function",
        "z": "b91fbb37.5b20d8",
        "name": "one prediction",
        "func": "msg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + flow.get(\"falkonryToken\"),\n       \"Accept\":\"text/csv\"\n    },\n    method:\"GET\",\n    url:flow.get(\"liveURL\")+ \"/outputs/predictions?limit=1&offset=\"+flow.get(\"subflow_offset\")\n};\nmsg.topic = \"pred\";\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "4d6ba436.b9ab1c"
            ]
        ]
    },
    {
        "id": "8cff2d6c.d7ec2",
        "type": "function",
        "z": "b91fbb37.5b20d8",
        "name": "one confidence",
        "func": "msg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + flow.get(\"falkonryToken\"),\n       \"Accept\":\"text/csv\"\n    },\n    method:\"GET\",\n    url:flow.get(\"liveURL\")+ \"/outputs/confidences?limit=1&offset=\"+flow.get(\"subflow_offset\")\n};\nmsg.topic = \"conf\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "d4f8f3d1.cfb7"
            ]
        ]
    },
    {
        "id": "ecb8b956.ec0c68",
        "type": "link out",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "links": [
            "a10d1055.85c8f",
            "5fab8818.1b0748",
            "b00e0113.1f6d2"
        ],
        "x": 895,
        "y": 240,
        "wires": []
    },
    {
        "id": "33dc6ca8.03b494",
        "type": "http request",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d3c50e19.6fa39",
        "type": "function",
        "z": "b91fbb37.5b20d8",
        "name": "Upload URL",
        "func": "var pl = msg.payload;\nmsg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"wwupToken\"),\n        \"X-Filename\": \"LiveOp_SW.json\",\n    },\n    url: global.get(\"wwupURL\"),\n    method: \"POST\",\n    payload: {\"data\": {pl}}\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "33dc6ca8.03b494",
                "abd01de3.396f1"
            ]
        ]
    },
    {
        "id": "eaacae15.80cc7",
        "type": "function",
        "z": "b91fbb37.5b20d8",
        "name": "Modify payload",
        "func": "var pl = msg.payload;\npl[\"DateTime\"] = pl[\"time\"];\ndelete pl[\"time\"];\ndelete pl[\"index\"];\nmsg.payload = pl;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "d3c50e19.6fa39"
            ]
        ]
    },
    {
        "id": "b00e0113.1f6d2",
        "type": "link in",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "links": [
            "ecb8b956.ec0c68"
        ],
        "x": 195,
        "y": 360,
        "wires": [
            [
                "eaacae15.80cc7"
            ]
        ]
    },
    {
        "id": "abd01de3.396f1",
        "type": "debug",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "e188fdf4.cc508",
        "type": "debug",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 20,
        "wires": []
    },
    {
        "id": "f1816977.c1d778",
        "type": "debug",
        "z": "b91fbb37.5b20d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "b595843d.41d5e8",
        "type": "tls-config",
        "z": "",
        "name": "PKICerts",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "crt.pem",
        "keyname": "key.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "930c2ae9.897378",
        "type": "tab",
        "label": "Live model - WW output Integration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6fa1fcd.f00cc",
        "type": "inject",
        "z": "930c2ae9.897378",
        "name": "Loop",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "b44b5ca3.acb63"
            ]
        ]
    },
    {
        "id": "ad53d754.a3f0f8",
        "type": "ui_button",
        "z": "930c2ae9.897378",
        "name": "",
        "group": "3c46a4b.b7eb85c",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": true,
        "label": "RUN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "RUN",
        "payloadType": "str",
        "topic": "",
        "x": 710,
        "y": 56,
        "wires": [
            [
                "abf43804.438dd8"
            ]
        ]
    },
    {
        "id": "d3cf2710.f9b5b8",
        "type": "batch",
        "z": "930c2ae9.897378",
        "name": "",
        "mode": "count",
        "count": "6",
        "overlap": "5",
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 897,
        "y": 240,
        "wires": [
            [
                "5de8c447.8a2e2c"
            ]
        ]
    },
    {
        "id": "5de8c447.8a2e2c",
        "type": "join",
        "z": "930c2ae9.897378",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1017,
        "y": 240,
        "wires": [
            [
                "d9bff3ad.d455c"
            ]
        ]
    },
    {
        "id": "35a02177.d96a1e",
        "type": "function",
        "z": "930c2ae9.897378",
        "name": "confidences",
        "func": "var pl = msg.payload;\nif (pl == []) return {payload:[]};\n\nvar m = {};\nm.inner = [];\nm.labels = [];\nvar len = pl.length;\nfor (var i in pl.slice(0,-1)) {\n    m.inner[i] = pl[i].confidence*100;\n    m.labels[i] = i - len;\n}\nm.data = [m.inner];\nm.series = [];\nreturn {payload:[m]};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "c96dc98d.e45d78"
            ]
        ]
    },
    {
        "id": "c109dd52.c10eb",
        "type": "function",
        "z": "930c2ae9.897378",
        "name": "predictions",
        "func": "var pl = msg.payload;\nif (pl == []) return {payload:[]};\n\nvar m = {};\nm.inner = [];\nm.labels = [];\nfor (var i in pl.slice(0,-1)) {\n    m.labels[i] = pl[i].prediction;\n    m.inner[i] = 1;\n}\nm.data = [m.inner];\nm.series = [];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "a44f13d9.b3cba"
            ]
        ]
    },
    {
        "id": "977ca4c8.12c858",
        "type": "function",
        "z": "930c2ae9.897378",
        "name": "latest",
        "func": "var pl = msg.payload;\nif (pl.length < 1) return {payload:[]};\n\npl = msg.payload.slice(-1)[0];\n\npl.time = `<center>${pl.time.slice(0,-4).split('T').join('</br>')}</center>`\npl.confidence = pl.confidence*100;\npl.confidence = pl.confidence.toFixed(1) + \"%\"\nswitch (pl.prediction) {\ncase \"normal\" : \n    msg.color = \"blue\";\n   break;\ncase \"warning\" : \n    msg.color = \"red\";\n    break;\ncase \"seal-degr-critical\" : \n    msg.color = \"#00FF00\";\n    break;\ncase \"maintenance\" : \n    msg.color = \"#FF00FF\";\n    break;\ndefault : \n    break;\n}\nmsg.payload = pl;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "86c40cb.94ec2f",
                "5bc69936.331b48",
                "2b7530f2.940c6"
            ]
        ]
    },
    {
        "id": "72870a4a.722a74",
        "type": "function",
        "z": "930c2ae9.897378",
        "name": "Settings",
        "func": "flow.set (\"state\", \"STOP\");\nflow.set (\"offset\", \"earliest\");\nflow.set (\"latest\", 0);\nreturn {payload:[]};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 73,
        "wires": [
            [
                "dd0df653.c06bd8"
            ]
        ]
    },
    {
        "id": "b44b5ca3.acb63",
        "type": "switch",
        "z": "930c2ae9.897378",
        "name": "",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "RUN",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 178,
        "y": 240,
        "wires": [
            [
                "b153d5c2.98d648"
            ],
            []
        ]
    },
    {
        "id": "ea676e59.6c508",
        "type": "ui_button",
        "z": "930c2ae9.897378",
        "name": "",
        "group": "3c46a4b.b7eb85c",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "STOP",
        "payloadType": "str",
        "topic": "",
        "x": 710,
        "y": 96,
        "wires": [
            [
                "abf43804.438dd8"
            ]
        ]
    },
    {
        "id": "1ea45e81.f1e241",
        "type": "inject",
        "z": "930c2ae9.897378",
        "name": "Init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "72870a4a.722a74"
            ]
        ]
    },
    {
        "id": "dd0df653.c06bd8",
        "type": "link out",
        "z": "930c2ae9.897378",
        "name": "",
        "links": [
            "fa058340.90917",
            "502cb872.3127f8"
        ],
        "x": 475,
        "y": 133,
        "wires": []
    },
    {
        "id": "c675c40b.f1a4a8",
        "type": "inject",
        "z": "930c2ae9.897378",
        "name": "",
        "topic": "",
        "payload": "RUN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 590,
        "y": 56,
        "wires": [
            [
                "ad53d754.a3f0f8"
            ]
        ]
    },
    {
        "id": "ee4dc3ea.7daab",
        "type": "change",
        "z": "930c2ae9.897378",
        "name": "update offset",
        "rules": [
            {
                "t": "set",
                "p": "offset",
                "pt": "flow",
                "to": "msg.payload.index + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 737,
        "y": 240,
        "wires": [
            [
                "d3cf2710.f9b5b8"
            ]
        ]
    },
    {
        "id": "be3b2b2c.4836a8",
        "type": "subflow:b91fbb37.5b20d8",
        "z": "930c2ae9.897378",
        "name": "Get 1 Output",
        "env": [],
        "x": 458,
        "y": 240,
        "wires": [
            [
                "c64dc0dd.7f5a4",
                "e31702d8.b93fa",
                "4914aeef.ebfe9"
            ]
        ]
    },
    {
        "id": "b153d5c2.98d648",
        "type": "function",
        "z": "930c2ae9.897378",
        "name": "params",
        "func": "params = {\n    offset:flow.get(\"offset\"),\n    liveURL:global.get(\"baseURL\") + global.get(\"liveEndpoint\"),\n    token: global.get(\"falkonryToken\")\n};\nreturn{payload:params} ;",
        "outputs": 1,
        "noerr": 0,
        "x": 308,
        "y": 240,
        "wires": [
            [
                "be3b2b2c.4836a8"
            ]
        ]
    },
    {
        "id": "d9bff3ad.d455c",
        "type": "link out",
        "z": "930c2ae9.897378",
        "name": "",
        "links": [
            "502cb872.3127f8"
        ],
        "x": 1105,
        "y": 240,
        "wires": []
    },
    {
        "id": "502cb872.3127f8",
        "type": "link in",
        "z": "930c2ae9.897378",
        "name": "",
        "links": [
            "d9bff3ad.d455c",
            "dd0df653.c06bd8"
        ],
        "x": 195,
        "y": 380,
        "wires": [
            [
                "c109dd52.c10eb",
                "35a02177.d96a1e",
                "977ca4c8.12c858"
            ]
        ]
    },
    {
        "id": "f8c3f8e2.a92bc8",
        "type": "inject",
        "z": "930c2ae9.897378",
        "name": "",
        "topic": "",
        "payload": "STOP",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 590,
        "y": 96,
        "wires": [
            [
                "ea676e59.6c508"
            ]
        ]
    },
    {
        "id": "c64dc0dd.7f5a4",
        "type": "ui_text",
        "z": "930c2ae9.897378",
        "group": "53d78dcb.b89994",
        "order": 3,
        "width": 10,
        "height": 1,
        "name": "Log",
        "label": "",
        "format": "<font size=\"1\">{{msg.issue}}</font>",
        "layout": "row-center",
        "x": 824.0000076293945,
        "y": 397.00000190734863,
        "wires": []
    },
    {
        "id": "4914aeef.ebfe9",
        "type": "switch",
        "z": "930c2ae9.897378",
        "name": "",
        "property": "issue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 196,
        "wires": [
            [
                "ee4dc3ea.7daab"
            ],
            []
        ]
    },
    {
        "id": "e31702d8.b93fa",
        "type": "debug",
        "z": "930c2ae9.897378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "abf43804.438dd8",
        "type": "change",
        "z": "930c2ae9.897378",
        "name": "Set State",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a44f13d9.b3cba",
        "type": "ui_chart",
        "z": "930c2ae9.897378",
        "name": "",
        "group": "53d78dcb.b89994",
        "order": 1,
        "width": 10,
        "height": 2,
        "label": "Predictions",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting For Data",
        "dot": true,
        "ymin": "0",
        "ymax": "0",
        "removeOlder": 1,
        "removeOlderPoints": "6",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c96dc98d.e45d78",
        "type": "ui_chart",
        "z": "930c2ae9.897378",
        "name": "",
        "group": "53d78dcb.b89994",
        "order": 2,
        "width": 10,
        "height": 5,
        "label": "Confidences",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting For Data",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "6",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "86c40cb.94ec2f",
        "type": "ui_text",
        "z": "930c2ae9.897378",
        "group": "638fb667.d56438",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Time",
        "format": "<font color={{msg.color}} > {{msg.payload.time}} </font>",
        "layout": "col-center",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "5bc69936.331b48",
        "type": "ui_text",
        "z": "930c2ae9.897378",
        "group": "638fb667.d56438",
        "order": 3,
        "width": 4,
        "height": 3,
        "name": "",
        "label": "Confidence",
        "format": "{{msg.payload.confidence}}",
        "layout": "col-center",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "2b7530f2.940c6",
        "type": "ui_text",
        "z": "930c2ae9.897378",
        "group": "638fb667.d56438",
        "order": 1,
        "width": 4,
        "height": 3,
        "name": "",
        "label": "Prediction",
        "format": "<font color={{msg.color}} > {{msg.payload.prediction}} </font>",
        "layout": "col-center",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "4e1ce27e.10caec",
        "type": "ui_button",
        "z": "930c2ae9.897378",
        "name": "",
        "group": "3c46a4b.b7eb85c",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "state",
        "payloadType": "flow",
        "topic": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "72870a4a.722a74"
            ]
        ]
    },
    {
        "id": "3c46a4b.b7eb85c",
        "type": "ui_group",
        "z": "",
        "name": "Actions",
        "tab": "35e7b20c.493b6e",
        "order": 3,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "53d78dcb.b89994",
        "type": "ui_group",
        "z": "",
        "name": "Recent",
        "tab": "35e7b20c.493b6e",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "638fb667.d56438",
        "type": "ui_group",
        "z": "",
        "name": "Latest",
        "tab": "35e7b20c.493b6e",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "35e7b20c.493b6e",
        "type": "ui_tab",
        "z": "",
        "name": "WWI Integration- Live Dashboard",
        "icon": "dashboard",
        "order": 12,
        "disabled": false,
        "hidden": false
    }
]
