node-red/Wonderware_Integration/LRS to Wonderware - Outputs.json
[
    {
        "id": "ac184640.378258",
        "type": "tab",
        "label": " LRS to Wonderware - Outputs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6e83b19.148298",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Flow Settings",
        "func": "var topic = msg.topic;\nif(topic === \"default\")\n{\n    global.set(\"baseURL\", msg.payload.baseURL);\n    global.set(\"falkonryToken\",msg.payload.falkonryToken);\n    global.set(\"wwupURL\",msg.payload.wonderware_upload_URL);\n    global.set(\"wwupToken\",msg.payload.wonderware_upload_Token);\n    flow.set(\"accountId\",msg.payload.accountId);\n    flow.set(\"datastreamId\",msg.payload.datastreamId);\n    flow.set(\"modelId\",msg.payload.modelId);\n    flow.set(\"assessmentId\",msg.payload.assessmentId);\n    flow.set(\"accept\", \"application/x-ndjson\");\nmsg.issue = \"Default config selected; Getting model predictions ....\";\nreturn msg;\n}\nelse if(topic === \"user\")\n{\n    if(msg.existingData === true)\n    {\n     global.get(\"baseURL\");\n     global.get(\"falkonryToken\");\n    }\n    else\n    {\n        global.set(\"baseURL\", msg.payload.baseURL);\n        global.set(\"falkonryToken\",msg.payload.falkonryToken);\n    }\n    global.set(\"wwupURL\",msg.payload.wonderware_upload_URL);\n    global.set(\"wwupToken\",msg.payload.wonderware_upload_Token);\n    flow.set(\"accountId\",msg.payload.accountId);\n    flow.set(\"datastreamId\",msg.payload.datastreamId);\n    flow.set(\"modelId\",msg.payload.modelId);\n    flow.set(\"assessmentId\",msg.payload.assessmentId);\n    flow.set(\"accept\", \"application/x-ndjson\");\n    msg.issue = \"User Configuration received; Getting model predictions ....\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 160,
        "wires": [
            [
                "8b9dc3d1.6ac2",
                "50179bcb.e6b954"
            ]
        ]
    },
    {
        "id": "50179bcb.e6b954",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Predictions URL",
        "func": "msg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"falkonryToken\"),\n        \"Accept\" : flow.get(\"accept\")\n        \n    },\n    method: 'GET',\n    url: global.get(\"baseURL\") + \"/api/1.1/accounts/\" + flow.get(\"accountId\") + \"/datastreams/\" +flow.get(\"datastreamId\") + \"/assessments/\" +flow.get(\"assessmentId\") + \"/models/\" + flow.get(\"modelId\") + \"/outputs/predictions?limit=10000\",\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 160,
        "wires": [
            [
                "5c4ae555.efbd0c"
            ]
        ]
    },
    {
        "id": "5c4ae555.efbd0c",
        "type": "http request",
        "z": "ac184640.378258",
        "name": "Get pred",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "2294b0a4.0cbf",
                "d80f3cea.627"
            ]
        ]
    },
    {
        "id": "1a685e0d.533a72",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Modify payload",
        "func": "var ind = msg.payload.replace(/time/g,\"dateTime\");\nind = ind.replace(/entity/g,\"Predictions.entity\");\nmsg.pl = ind.replace(/value/g,\"Predictions.value\");\nmsg.pl = msg.pl.split(\"\\n\");\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "c9312632.c1d8e8"
            ]
        ]
    },
    {
        "id": "152c52a7.08697d",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Upload URL",
        "func": "\nmsg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"wwupToken\"),\n        \"X-Filename\": \"Falkonry_Predictions_1Machine_SW.json\",\n    },\n    url: global.get(\"wwupURL\"),\n    method: \"POST\",\n    payload: {\"data\": msg.dl}\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "c5589994.73cc98"
            ]
        ]
    },
    {
        "id": "c5589994.73cc98",
        "type": "http request",
        "z": "ac184640.378258",
        "name": "To WW",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "bd784829.256758",
                "7d61655f.1157fc"
            ]
        ]
    },
    {
        "id": "c9312632.c1d8e8",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Parsing to JS object",
        "func": "var dl =[];\nfor (var i = 0; i < (msg.pl.length - 1); i++)\ndl[i] = JSON.parse(msg.pl[i]);\nmsg.dl= dl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "152c52a7.08697d"
            ]
        ]
    },
    {
        "id": "725162fc.ff654c",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Confidences URL",
        "func": "msg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"falkonryToken\"),\n        \"Accept\" : flow.get(\"accept\")\n    },\n    method: 'GET',\n    url: global.get(\"baseURL\") + \"/api/1.1/accounts/\" + flow.get(\"accountId\") + \"/datastreams/\" +flow.get(\"datastreamId\") + \"/assessments/\" +flow.get(\"assessmentId\") + \"/models/\" + flow.get(\"modelId\") + \"/outputs/confidences?limit=10000\",\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "422133f3.4033ec"
            ]
        ]
    },
    {
        "id": "422133f3.4033ec",
        "type": "http request",
        "z": "ac184640.378258",
        "name": "Get Conf",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "78f708d6.ba33d8",
                "eb75ace9.46c1c"
            ]
        ]
    },
    {
        "id": "b1c9d703.c17268",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Upload URL",
        "func": "msg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"wwupToken\"),\n        \"X-Filename\": \"Falkonry_Confidences_1Machine_SW.json\",\n    },\n    url: global.get(\"wwupURL\"),\n    method: \"POST\",\n    payload: {\"data\": msg.dl}\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "746e590f.9919e8"
            ]
        ]
    },
    {
        "id": "746e590f.9919e8",
        "type": "http request",
        "z": "ac184640.378258",
        "name": "To WW",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "6780cd44.e6c234",
                "ed5ff176.b71d2"
            ]
        ]
    },
    {
        "id": "6780cd44.e6c234",
        "type": "debug",
        "z": "ac184640.378258",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1150,
        "y": 540,
        "wires": []
    },
    {
        "id": "78f708d6.ba33d8",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Modify payload",
        "func": "var ind = msg.payload.replace(/time/g,\"dateTime\");\nind = ind.replace(/entity/g,\"Confidence.entity\");\nmsg.pl = ind.replace(/value/g,\"Confidence.value\");\nmsg.pl = msg.pl.split(\"\\n\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "7f19232.04be6dc"
            ]
        ]
    },
    {
        "id": "7f19232.04be6dc",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Parsing to JS object",
        "func": "var dl =[];\nfor (var i = 0; i < (msg.pl.length - 1); i++)\ndl[i] = JSON.parse(msg.pl[i]);\nmsg.dl= dl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "b1c9d703.c17268"
            ]
        ]
    },
    {
        "id": "e64cc332.ae7fe",
        "type": "ui_form",
        "z": "ac184640.378258",
        "name": "Form UI",
        "label": "",
        "group": "5317b029.c710c",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "AccountId",
                "value": "accountId",
                "type": "text",
                "required": true
            },
            {
                "label": "AssessmentId",
                "value": "assessmentId",
                "type": "text",
                "required": true
            },
            {
                "label": "ModelId",
                "value": "modelId",
                "type": "text",
                "required": true
            },
            {
                "label": "DatastreamId",
                "value": "datastreamId",
                "type": "text",
                "required": true
            },
            {
                "label": "<<Wonderware-upload-endpoint>>",
                "value": "wonderware_upload_URL",
                "type": "text",
                "required": true
            },
            {
                "label": "wwi-upload-Token",
                "value": "wonderware_upload_Token",
                "type": "text",
                "required": true
            },
            {
                "label": "Use Existing Falkonry Configurations??",
                "value": "existingData",
                "type": "switch",
                "required": true
            },
            {
                "label": "<<Falkonry-server-address>> (Optional if using existing)",
                "value": "baseURL",
                "type": "text",
                "required": false
            },
            {
                "label": "Falkonry-Token(Optional if using existing)",
                "value": "falkonryToken",
                "type": "password",
                "required": false
            }
        ],
        "formValue": {
            "accountId": "",
            "assessmentId": "",
            "modelId": "",
            "datastreamId": "",
            "wonderware_upload_URL": "",
            "wonderware_upload_Token": "",
            "existingData": false,
            "baseURL": "",
            "falkonryToken": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "user",
        "x": 50,
        "y": 200,
        "wires": [
            [
                "c240be41.b8631"
            ]
        ]
    },
    {
        "id": "9b783ef5.eec5e",
        "type": "link out",
        "z": "ac184640.378258",
        "name": "",
        "links": [
            "f89ee30b.5ba2"
        ],
        "x": 1155,
        "y": 280,
        "wires": []
    },
    {
        "id": "f89ee30b.5ba2",
        "type": "link in",
        "z": "ac184640.378258",
        "name": "",
        "links": [
            "9b783ef5.eec5e"
        ],
        "x": 15,
        "y": 440,
        "wires": [
            [
                "725162fc.ff654c"
            ]
        ]
    },
    {
        "id": "8b9dc3d1.6ac2",
        "type": "ui_text",
        "z": "ac184640.378258",
        "group": "39092103.ff102e",
        "order": 1,
        "width": 6,
        "height": 5,
        "name": "Progress Tab",
        "label": "",
        "format": "{{msg.issue}}  {{msg.issue2}} ",
        "layout": "col-center",
        "x": 1670,
        "y": 380,
        "wires": []
    },
    {
        "id": "2294b0a4.0cbf",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Set ui message",
        "func": "if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Predictions received from Falkonry; \\n Connecting to Wonderware and uploading predictions.....\";\n}\nelse\n{\nmsg.issue = \"Failed to obtained predictions. StatusCode: \" + msg.statusCode + \". Kindly try again or check node-red flow\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 240,
        "wires": [
            [
                "8b9dc3d1.6ac2"
            ]
        ]
    },
    {
        "id": "bd784829.256758",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Set ui message",
        "func": "if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Predictions uploaded to Wonderware Insights; \\n Getting prediction confidence scores.....\";\n}\nelse\n{\nmsg.issue2 = \"Failed to upload predictions. StatusCode: \" + msg.statusCode + \"\\n Error Message :\" + msg.payload +\". Kindly try again or check node-red flow\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 360,
        "wires": [
            [
                "8b9dc3d1.6ac2"
            ]
        ]
    },
    {
        "id": "eb75ace9.46c1c",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Set ui message",
        "func": "if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Confidence scores received from Falkonry; \\n Connecting to Wonderware and uploading predictions.....\";\n}\nelse\n{\nmsg.issue = \"Failed to obtained confidence scores. StatusCode: \" + msg.statusCode + \". Kindly try again or check node-red flow\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 440,
        "wires": [
            [
                "8b9dc3d1.6ac2"
            ]
        ]
    },
    {
        "id": "ed5ff176.b71d2",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Set ui message",
        "func": "if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Confidence scores uploaded to Wonderware Insights; \\n Go to Insights to check your latest uploaded file\";\n}\nelse\n{\nmsg.issue2 = \"Failed to upload confidence scores. StatusCode: \" + msg.statusCode + \" \" + msg.payload +\". Kindly try again or check node-red flow\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 520,
        "wires": [
            [
                "8b9dc3d1.6ac2"
            ]
        ]
    },
    {
        "id": "ec30a9d4.49be18",
        "type": "comment",
        "z": "ac184640.378258",
        "name": "Confidence scores",
        "info": "",
        "x": 110,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba4b8f76.8f632",
        "type": "comment",
        "z": "ac184640.378258",
        "name": "Predictions",
        "info": "",
        "x": 920,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a757038.d285a",
        "type": "link in",
        "z": "ac184640.378258",
        "name": "",
        "links": [
            "1b84d94c.b09c37",
            "906d8193.b4dd4"
        ],
        "x": 1435,
        "y": 620,
        "wires": [
            [
                "8b9dc3d1.6ac2"
            ]
        ]
    },
    {
        "id": "419c9881.7ed9a8",
        "type": "ui_form",
        "z": "ac184640.378258",
        "name": "Form File",
        "label": "<b><h3>OR Get Configurations from a Yaml File </b></h3>",
        "group": "5317b029.c710c",
        "order": 7,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter the file-path of your config file",
                "value": "fileName",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "fileName": ""
        },
        "payload": "",
        "submit": "Use File Configurations",
        "cancel": "Clear",
        "topic": "default",
        "x": 60,
        "y": 120,
        "wires": [
            [
                "c240be41.b8631"
            ]
        ]
    },
    {
        "id": "d28d89b1.5f0128",
        "type": "change",
        "z": "ac184640.378258",
        "name": "filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "payload.fileName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "issue",
                "pt": "flow",
                "to": "Creating new Datastream using File Configurations;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "ce89f6bb.62d268"
            ]
        ]
    },
    {
        "id": "ce89f6bb.62d268",
        "type": "file in",
        "z": "ac184640.378258",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "2c746861.b3be48"
            ]
        ]
    },
    {
        "id": "2c746861.b3be48",
        "type": "yaml",
        "z": "ac184640.378258",
        "property": "payload",
        "name": "Yaml to JS",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "f6e83b19.148298"
            ]
        ]
    },
    {
        "id": "c240be41.b8631",
        "type": "switch",
        "z": "ac184640.378258",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "default",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "user",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "d28d89b1.5f0128"
            ],
            [
                "f6e83b19.148298"
            ]
        ]
    },
    {
        "id": "bed4fca2.01e65",
        "type": "catch",
        "z": "ac184640.378258",
        "name": "",
        "scope": [
            "50179bcb.e6b954",
            "5c4ae555.efbd0c",
            "1a685e0d.533a72",
            "152c52a7.08697d",
            "c5589994.73cc98",
            "c9312632.c1d8e8",
            "725162fc.ff654c",
            "422133f3.4033ec",
            "b1c9d703.c17268",
            "746e590f.9919e8",
            "78f708d6.ba33d8",
            "7f19232.04be6dc",
            "d28d89b1.5f0128",
            "ce89f6bb.62d268",
            "2c746861.b3be48"
        ],
        "uncaught": false,
        "x": 800,
        "y": 620,
        "wires": [
            [
                "70d18e19.1b13a",
                "424bd14e.fd1b2"
            ]
        ]
    },
    {
        "id": "70d18e19.1b13a",
        "type": "debug",
        "z": "ac184640.378258",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "x": 1020,
        "y": 620,
        "wires": []
    },
    {
        "id": "56d2a8ac.165c38",
        "type": "inject",
        "z": "ac184640.378258",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "40b25f19.7b68"
            ]
        ]
    },
    {
        "id": "40b25f19.7b68",
        "type": "change",
        "z": "ac184640.378258",
        "name": "Progress Tab Default",
        "rules": [
            {
                "t": "set",
                "p": "issue",
                "pt": "msg",
                "to": "Submit configs manually or use configurations.yaml file to Begin!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "1b84d94c.b09c37"
            ]
        ]
    },
    {
        "id": "fed0c9d1.6199b8",
        "type": "comment",
        "z": "ac184640.378258",
        "name": "Progress Tab Reset on deploy",
        "info": "",
        "x": 160,
        "y": 580,
        "wires": []
    },
    {
        "id": "1b84d94c.b09c37",
        "type": "link out",
        "z": "ac184640.378258",
        "name": "",
        "links": [
            "4a757038.d285a"
        ],
        "x": 575,
        "y": 620,
        "wires": []
    },
    {
        "id": "424bd14e.fd1b2",
        "type": "change",
        "z": "ac184640.378258",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "issue",
                "pt": "msg",
                "to": "error",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 680,
        "wires": [
            [
                "906d8193.b4dd4"
            ]
        ]
    },
    {
        "id": "906d8193.b4dd4",
        "type": "link out",
        "z": "ac184640.378258",
        "name": "",
        "links": [
            "4a757038.d285a"
        ],
        "x": 1115,
        "y": 680,
        "wires": []
    },
    {
        "id": "7d61655f.1157fc",
        "type": "function",
        "z": "ac184640.378258",
        "name": "Passing message",
        "func": "if (msg.statusCode == 201 || msg.statusCode == 200)\n{\n    return msg;\n}\nelse {return null;}",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "9b783ef5.eec5e"
            ]
        ]
    },
    {
        "id": "d80f3cea.627",
        "type": "link out",
        "z": "ac184640.378258",
        "name": "",
        "links": [
            "cb19daeb.686668"
        ],
        "x": 1255,
        "y": 160,
        "wires": []
    },
    {
        "id": "1d29595b.896317",
        "type": "link in",
        "z": "ac184640.378258",
        "name": "",
        "links": [],
        "x": -20,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cb19daeb.686668",
        "type": "link in",
        "z": "ac184640.378258",
        "name": "",
        "links": [
            "d80f3cea.627"
        ],
        "x": 35,
        "y": 280,
        "wires": [
            [
                "1a685e0d.533a72"
            ]
        ]
    },
    {
        "id": "cda36416.17afb8",
        "type": "comment",
        "z": "ac184640.378258",
        "name": "Get Configurations",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec1afc4e.ff5b1",
        "type": "comment",
        "z": "ac184640.378258",
        "name": "Handle errors",
        "info": "",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "5317b029.c710c",
        "type": "ui_group",
        "z": "",
        "name": "Output Configurations",
        "tab": "43649253.b1085c",
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "39092103.ff102e",
        "type": "ui_group",
        "z": "",
        "name": "Progress Tab",
        "tab": "43649253.b1085c",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "43649253.b1085c",
        "type": "ui_tab",
        "z": "",
        "name": "WWI Integration - LRS Outputs",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
