node-red/Wonderware Integration Demo/ LRS to Wonderware - Outputs.json
[{"id":"a9fe8a92.3fb8c8","type":"tab","label":" LRS to Wonderware - Outputs","disabled":false,"info":""},{"id":"d341e92a.c054e8","type":"function","z":"a9fe8a92.3fb8c8","name":"Flow Settings","func":"var topic = msg.topic;\nif(topic === \"default\")\n{\nglobal.set(\"baseURL\",\"https://dev.falkonry.ai/api/1.1/\");\nglobal.set(\"falkonryToken\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE4ODQwNzM4MzUsICJlbWFpbCIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAibmFtZSIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAic2Vzc2lvbiIgOiAiNjIzNDU1NzU2MzYzMDE0MTQ0IiB9.hXNfyXcT9xIfqIPxqOeheLrXuP9TAdhBLyyUjcc97-0\");\nglobal.set(\"wwupURL\",\"https://online.wonderware.com/apis/upload/datasource\");\nglobal.set(\"wwupToken\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6ImU3NzJmZTk2LTE5YzEtNGY5Zi1hOWE4LThmOGMwYzIzYjVjNCJ9.eyJEYXRhU291cmNlSWQiOiJmOWYzYjEyZi02ZmQwLTRmN2UtODFkZi0yYWYxNjM3OThiNGIiLCJ0eXBlIjoic2VydmljZSIsInZlcnNpb24iOiIxLjAiLCJ0ZW5hbnRpZCI6IjM3M2FhOTdiLWVhNTMtNDk3NS05NDIyLWE4MzgzYWY3ZTE0ZSIsInNpaWQiOiJiYWM1ZGFjYy1iYTA5LTQyYmYtYWVmNC0xZDlkNTQyNDY5YTIiLCJqdGkiOiIxMjgyNGRjNC1mZmVjLTQ0Y2QtYTBlNC03ZTJlM2VlYWZkMzciLCJpc3MiOiJwcm9vZm9maWRlbnRpdHlzZXJ2aWNlIn0.bs8xwzixR5Z3nsG1l-_WkmCbxUWFsjsW56xqZ9hFV_X2bTF3IP8miGMT_RjS6qZ7k99-EIocyXYQZsorSuAw0leQem3d110zyLs8A-nkILHXYOPKqmPuwgegTaUWnPInl-T6MPzAvmSHjBAnzRx0loQbJBQpA-grkFVUqRyuMe9m-M43EGe_L9UaxjGCwzdbV-iL4wF3Iuo8jkve-gL8r6r3OI6dKdmFjbPiqnl0WCiEnYN1jxC-6DF9Jr8DHx7kP7chf9u9tX9U1QPIuVZFtDSI4UJrC8ITvpWYoLWIdful9QG9WkUnUqs2T_AN_ZNtJws4XEyKr2_oCpZH4VsJgg\");\nflow.set(\"accountId\",\"600756889714286592\");\nflow.set(\"datastreamId\",\"623678939434532864\");\nflow.set(\"modelId\",\"624099800412672000\");\nflow.set(\"assessmentId\",\"623678939459698688\");\nflow.set(\"contentType\", \"application/x-ndjson\");\nmsg.issue = \"Default config selected; Getting model predictions ....\";\nreturn msg;\n}\nelse if(topic === \"user\")\n{\n    if(msg.existingData === true)\n    {\n        global.set(\"baseURL\",\"https://dev.falkonry.ai/api/1.1/\");\n        global.set(\"falkonryToken\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE4ODQwNzM4MzUsICJlbWFpbCIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAibmFtZSIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAic2Vzc2lvbiIgOiAiNjIzNDU1NzU2MzYzMDE0MTQ0IiB9.hXNfyXcT9xIfqIPxqOeheLrXuP9TAdhBLyyUjcc97-0\");\n    }\n    else\n    {\n        global.set(\"baseURL\", msg.payload.baseURL);\n        global.set(\"falkonryToken\",payload.falkonryToken);\n    }\n    global.set(\"wwupURL\",payload.wwupURL);\n    global.set(\"wwupToken\",msg.payload.wwupToken);\n    flow.set(\"accountId\",msg.payload.accountId);\n    flow.set(\"datastreamId\",msg.payload.datastreamId);\n    flow.set(\"modelId\",msg.payload.modelId);\n    flow.set(\"assessmentId\",msg.payload.assessmentId);\n    flow.set(\"accept\", \"application/x-ndjson\");\n    msg.issue = \"User Configuration received; Getting model predictions ....\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":120,"wires":[["2b6be9ea.3e7116","b88f2f14.caeea"]]},{"id":"2b6be9ea.3e7116","type":"function","z":"a9fe8a92.3fb8c8","name":"Predictions URL","func":"msg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"falkonryToken\"),\n        \"Accept\" : flow.get(\"contentType\")\n        \n    },\n    method: 'GET',\n    url: global.get(\"baseURL\") + \"accounts/\" + flow.get(\"accountId\") + \"/datastreams/\" +flow.get(\"datastreamId\") + \"/assessments/\" +flow.get(\"assessmentId\") + \"/models/\" + flow.get(\"modelId\") + \"/outputs/predictions?limit=10000\",\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["2372a12f.2758ee"]]},{"id":"2372a12f.2758ee","type":"http request","z":"a9fe8a92.3fb8c8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":120,"wires":[["40491507.2fa9cc","b4e27775.227ec8"]]},{"id":"40491507.2fa9cc","type":"function","z":"a9fe8a92.3fb8c8","name":"Modify payload","func":"var ind = msg.payload.replace(/time/g,\"dateTime\");\nind = ind.replace(/entity/g,\"Predictions.entity\");\nmsg.pl = ind.replace(/value/g,\"Predictions.value\");\nmsg.pl = msg.pl.split(\"\\n\");\n\nreturn msg;\n","outputs":1,"noerr":0,"x":120,"y":200,"wires":[["3a1323c6.e4794c"]]},{"id":"73b0cdd5.200b24","type":"function","z":"a9fe8a92.3fb8c8","name":"Upload URL","func":"\nmsg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"wwupToken\"),\n        \"X-Filename\": \"Falkonry_Predictions_1Machine_SW.json\",\n    },\n    url: global.get(\"wwupURL\"),\n    method: \"POST\",\n    payload: {\"data\": msg.dl}\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["b7bb3aa.1b824c8"]]},{"id":"b7bb3aa.1b824c8","type":"http request","z":"a9fe8a92.3fb8c8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":200,"wires":[["2cbbb93b.09d9b6","452efddd.5acf54","c300797c.fe9308"]]},{"id":"3a1323c6.e4794c","type":"function","z":"a9fe8a92.3fb8c8","name":"Parsing to JS object","func":"var dl =[];\nfor (var i = 0; i < (msg.pl.length - 1); i++)\ndl[i] = JSON.parse(msg.pl[i]);\nmsg.dl= dl;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["73b0cdd5.200b24"]]},{"id":"e530acea.592ad","type":"function","z":"a9fe8a92.3fb8c8","name":"Confidences URL","func":"msg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"falkonryToken\"),\n        \"Accept\" : flow.get(\"contentType\")\n    },\n    method: 'GET',\n    url: global.get(\"baseURL\") + \"accounts/\" + flow.get(\"accountId\") + \"/datastreams/\" +flow.get(\"datastreamId\") + \"/assessments/\" +flow.get(\"assessmentId\") + \"/models/\" + flow.get(\"modelId\") + \"/outputs/confidences?limit=10000\",\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":360,"wires":[["3297fb1e.0e9784"]]},{"id":"3297fb1e.0e9784","type":"http request","z":"a9fe8a92.3fb8c8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["65a26b34.ffed14","a56bc72e.437a78"]]},{"id":"5c980829.1fb038","type":"function","z":"a9fe8a92.3fb8c8","name":"Upload URL","func":"msg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + global.get(\"wwupToken\"),\n        \"X-Filename\": \"Falkonry_Confidences_1Machine_SW.json\",\n    },\n    url: global.get(\"wwupURL\"),\n    method: \"POST\",\n    payload: {\"data\": msg.dl}\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["4678e46.986551c"]]},{"id":"4678e46.986551c","type":"http request","z":"a9fe8a92.3fb8c8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":420,"wires":[["fbf75d46.15f74","4561236.425fddc"]]},{"id":"fbf75d46.15f74","type":"debug","z":"a9fe8a92.3fb8c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":500,"wires":[]},{"id":"65a26b34.ffed14","type":"function","z":"a9fe8a92.3fb8c8","name":"Modify payload","func":"var ind = msg.payload.replace(/time/g,\"dateTime\");\nind = ind.replace(/entity/g,\"Confidence.entity\");\nmsg.pl = ind.replace(/value/g,\"Confidence.value\");\nmsg.pl = msg.pl.split(\"\\n\");\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["f3f714db.50e418"]]},{"id":"f3f714db.50e418","type":"function","z":"a9fe8a92.3fb8c8","name":"Parsing to JS object","func":"var dl =[];\nfor (var i = 0; i < (msg.pl.length - 1); i++)\ndl[i] = JSON.parse(msg.pl[i]);\nmsg.dl= dl;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":420,"wires":[["5c980829.1fb038"]]},{"id":"afe8d022.ab84f","type":"ui_form","z":"a9fe8a92.3fb8c8","name":"","label":"","group":"4f180702.897818","order":1,"width":0,"height":0,"options":[{"label":"AccountId","value":"accountId","type":"text","required":true},{"label":"AssessmentId","value":"assessmentId","type":"text","required":true},{"label":"ModelId","value":"modelId","type":"text","required":true},{"label":"DatastreamId","value":"datastreamId","type":"text","required":true},{"label":"<<Wonderware-upload-endpoint>>","value":"wwupURL","type":"text","required":true},{"label":"wwi-upload-Token","value":"wwupToken","type":"text","required":true},{"label":"Use Existing Falkonry site settings?","value":"existingData","type":"switch","required":true},{"label":"<<Falkonry-server-address>> (Optional if using existing)","value":"baseURL","type":"text","required":false},{"label":"Falkonry-Token(Optional if using existing)","value":"falkonryToken","type":"text","required":false}],"formValue":{"accountId":"","assessmentId":"","modelId":"","datastreamId":"","wwupURL":"","wwupToken":"","existingData":false,"baseURL":"","falkonryToken":""},"payload":"","submit":"submit","cancel":"cancel","topic":"user","x":50,"y":120,"wires":[["d341e92a.c054e8"]]},{"id":"d8bb0f13.770b","type":"ui_button","z":"a9fe8a92.3fb8c8","name":"","group":"4f180702.897818","order":3,"width":5,"height":1,"passthru":false,"label":"Use Default Configurations","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"default","x":140,"y":40,"wires":[["d341e92a.c054e8"]]},{"id":"2cbbb93b.09d9b6","type":"link out","z":"a9fe8a92.3fb8c8","name":"","links":["8f5592eb.1b30a"],"x":915,"y":200,"wires":[]},{"id":"8f5592eb.1b30a","type":"link in","z":"a9fe8a92.3fb8c8","name":"","links":["2cbbb93b.09d9b6"],"x":35,"y":360,"wires":[["e530acea.592ad"]]},{"id":"b88f2f14.caeea","type":"ui_text","z":"a9fe8a92.3fb8c8","group":"214d0bd2.8bde04","order":1,"width":0,"height":0,"name":"Progress Tab","label":"","format":"{{msg.issue}}  {{msg.issue2}} ","layout":"col-center","x":1170,"y":260,"wires":[]},{"id":"b4e27775.227ec8","type":"function","z":"a9fe8a92.3fb8c8","name":"Set ui message","func":"if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Predictions received from Falkonry; \\n Connecting to Wonderware and uploading predictions.....\";\n}\nelse\n{\nmsg.issue = \"Failed to obtained predictions. StatusCode: \" + msg.statusCode + \". Kindly try again or check node-red flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":120,"wires":[["b88f2f14.caeea"]]},{"id":"452efddd.5acf54","type":"function","z":"a9fe8a92.3fb8c8","name":"Set ui message","func":"if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Predictions uploaded to Wonderware Insights; \\n Getting prediction confidence scores.....\";\n}\nelse\n{\nmsg.issue2 = \"Failed to upload predictions. StatusCode: \" + msg.statusCode + \" \" + msg.payload +\". Kindly try again or check node-red flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":160,"wires":[["b88f2f14.caeea"]]},{"id":"a56bc72e.437a78","type":"function","z":"a9fe8a92.3fb8c8","name":"Set ui message","func":"if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Confidence scores received from Falkonry; \\n Connecting to Wonderware and uploading predictions.....\";\n}\nelse\n{\nmsg.issue = \"Failed to obtained confidence scores. StatusCode: \" + msg.statusCode + \". Kindly try again or check node-red flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":300,"wires":[["b88f2f14.caeea"]]},{"id":"4561236.425fddc","type":"function","z":"a9fe8a92.3fb8c8","name":"Set ui message","func":"if ((msg.statusCode == 201 || msg.statusCode == 200))\n{\n    msg.issue = \"Confidence scores uploaded to Wonderware Insights; \\n Go to Insights to check your latest uploaded file\";\n}\nelse\n{\nmsg.issue2 = \"Failed to upload confidence scores. StatusCode: \" + msg.statusCode + \" \" + msg.payload +\". Kindly try again or check node-red flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":380,"wires":[["b88f2f14.caeea"]]},{"id":"a50df0db.c6637","type":"inject","z":"a9fe8a92.3fb8c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":540,"wires":[["ccd43f95.3f2f7"]]},{"id":"ccd43f95.3f2f7","type":"change","z":"a9fe8a92.3fb8c8","name":"Progress Tab Default","rules":[{"t":"set","p":"issue","pt":"msg","to":"Submit configs or run default to Begin!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[["89af1278.d3d65"]]},{"id":"da962166.c51fc","type":"comment","z":"a9fe8a92.3fb8c8","name":"Progress Tab Reset on deploy","info":"","x":160,"y":500,"wires":[]},{"id":"e303b3ea.a0486","type":"comment","z":"a9fe8a92.3fb8c8","name":"Confidence scores","info":"","x":150,"y":300,"wires":[]},{"id":"6c702d50.9c23e4","type":"comment","z":"a9fe8a92.3fb8c8","name":"Predictions","info":"","x":380,"y":60,"wires":[]},{"id":"89af1278.d3d65","type":"link out","z":"a9fe8a92.3fb8c8","name":"","links":["226e2b65.1a17f4"],"x":580,"y":560,"wires":[]},{"id":"226e2b65.1a17f4","type":"link in","z":"a9fe8a92.3fb8c8","name":"","links":["89af1278.d3d65"],"x":1055,"y":520,"wires":[["b88f2f14.caeea"]]},{"id":"c300797c.fe9308","type":"debug","z":"a9fe8a92.3fb8c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":280,"wires":[]},{"id":"4f180702.897818","type":"ui_group","z":"","name":"Output Configurations","tab":"8b842af0.f91608","disp":true,"width":11,"collapse":false},{"id":"214d0bd2.8bde04","type":"ui_group","z":"","name":"Progress Tab","tab":"8b842af0.f91608","disp":true,"width":"6","collapse":false},{"id":"8b842af0.f91608","type":"ui_tab","z":"","name":"WWI Integration - LRS Outputs","icon":"dashboard","order":2,"disabled":false,"hidden":false}]