node-red/Wonderware Integration Demo/Live model - WW output Integration.json
[{"id":"19870539.6894fb","type":"subflow","name":"assessment output","info":"","category":"","in":[{"x":140,"y":100,"wires":[{"id":"64a49200.870bc"}]}],"out":[{"x":920,"y":180,"wires":[{"id":"f156b5c3.7eda58","port":0},{"id":"23044109.1b166e","port":1}]}]},{"id":"df66128e.5676a","type":"http request","z":"19870539.6894fb","name":"http","method":"use","ret":"txt","url":"","tls":"","x":430,"y":160,"wires":[["5ab17eb6.a1595"]]},{"id":"5ab17eb6.a1595","type":"csv","z":"19870539.6894fb","name":"prediction result","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":580,"y":140,"wires":[["f156b5c3.7eda58","9176acb2.ce15a"]]},{"id":"4a5fdb9f.c78ad4","type":"http request","z":"19870539.6894fb","name":"http","method":"use","ret":"txt","url":"","tls":"","x":430,"y":200,"wires":[["6a07b1a2.b2fcd"]]},{"id":"f156b5c3.7eda58","type":"function","z":"19870539.6894fb","name":"update offset","func":"context.data = context.data || {};\n\nswitch(msg.topic) {\n    case \"pred\":\n        context.data.pred = msg.payload;\n        msg = null;\n        break;\n    case \"conf\":\n        context.data.conf = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif (context.data !== null && context.data.pred !== null && context.data.conf !== null ) {\n    var pl = {\n        time:context.data.pred.time,\n        prediction: (context.data.pred).value,\n        confidence: (context.data.conf).value,\n        index: context.data.pred.index\n    };\n    context.data = null;\n    msg = {payload:pl,issue:\"\"}\n    return msg\n} else return msg;","outputs":1,"noerr":0,"x":770,"y":180,"wires":[["943c957d.06ac58"]]},{"id":"6a07b1a2.b2fcd","type":"csv","z":"19870539.6894fb","name":"confidence result","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":590,"y":220,"wires":[["f156b5c3.7eda58"]]},{"id":"64a49200.870bc","type":"function","z":"19870539.6894fb","name":"request latest","func":"var pl = msg.payload\nflow.set(\"subflow_offset\",pl.offset)\nflow.set(\"liveURL\", pl.liveURL)\nflow.set(\"falkonryToken\",pl.token)\nmsg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + flow.get(\"falkonryToken\"),\n       \"Accept\":\"text/csv\"\n    },\n    method:\"GET\",\n    url:flow.get(\"liveURL\")+\"/outputs/predictions?limit=2&offset=latest\"\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["babf73b3.1ab3f"]]},{"id":"7716a14.9d2896","type":"csv","z":"19870539.6894fb","name":"get object","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":560,"y":100,"wires":[["25f162e2.ee941e"]]},{"id":"babf73b3.1ab3f","type":"http request","z":"19870539.6894fb","name":"http","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":100,"wires":[["7716a14.9d2896"]]},{"id":"25f162e2.ee941e","type":"function","z":"19870539.6894fb","name":"output?","func":"if (msg.statusCode != 200) {\n    msg.issue = \"Status Code\"+msg.statusCode;\n}\nvar offset = flow.get(\"subflow_offset\");\nif (msg.payload.length > 1) {\n    if (offset === \"earliest\" || msg.payload[0].index > offset) {\n        msg.issue = \"NONE\";\n    }\n} else msg.issue = \"Waiting for data\"\nreturn msg","outputs":1,"noerr":0,"x":700,"y":100,"wires":[["23044109.1b166e","635ac8ee.41fb88"]]},{"id":"23044109.1b166e","type":"switch","z":"19870539.6894fb","name":"","property":"issue","propertyType":"msg","rules":[{"t":"eq","v":"NONE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":100,"wires":[["e7ec08bf.233d28"],[]]},{"id":"9b6d813b.95d5c","type":"link in","z":"19870539.6894fb","name":"","links":["e7ec08bf.233d28"],"x":135,"y":180,"wires":[["34037c91.d19354","99a95894.f2e128"]]},{"id":"e7ec08bf.233d28","type":"link out","z":"19870539.6894fb","name":"","links":["9b6d813b.95d5c"],"x":935,"y":80,"wires":[]},{"id":"34037c91.d19354","type":"function","z":"19870539.6894fb","name":"one prediction","func":"msg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + flow.get(\"falkonryToken\"),\n       \"Accept\":\"text/csv\"\n    },\n    method:\"GET\",\n    url:flow.get(\"liveURL\")+ \"/outputs/predictions?limit=1&offset=\"+flow.get(\"subflow_offset\")\n};\nmsg.topic = \"pred\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["df66128e.5676a"]]},{"id":"99a95894.f2e128","type":"function","z":"19870539.6894fb","name":"one confidence","func":"msg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + flow.get(\"falkonryToken\"),\n       \"Accept\":\"text/csv\"\n    },\n    method:\"GET\",\n    url:flow.get(\"liveURL\")+ \"/outputs/confidences?limit=1&offset=\"+flow.get(\"subflow_offset\")\n};\nmsg.topic = \"conf\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["4a5fdb9f.c78ad4"]]},{"id":"943c957d.06ac58","type":"link out","z":"19870539.6894fb","name":"","links":["a10d1055.85c8f","5fab8818.1b0748","73b0c5a0.a658fc"],"x":895,"y":240,"wires":[]},{"id":"b5ec6e85.635b3","type":"http request","z":"19870539.6894fb","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":300,"wires":[[]]},{"id":"b2e849c4.f3e638","type":"function","z":"19870539.6894fb","name":"Upload URL","func":"var pl = msg.payload;\nmsg = {\n    headers:{\n        \"Authorization\": \"Bearer \" + flow.get(\"ww_token\"),\n        \"X-Filename\": \"LiveOp_SW.json\",\n    },\n    url: flow.get(\"wwURL\"),\n    method: \"POST\",\n    payload: {\"data\": {pl}}\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["b5ec6e85.635b3","30111d4d.8312c2"]]},{"id":"46459283.3d273c","type":"function","z":"19870539.6894fb","name":"Wonderware Settings","func":"flow.set(\"wwURL\",\"https://online.wonderware.com/apis/upload/datasource\");\nflow.set(\"ww_token\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjM0OTI2YWIzLWRjN2QtNDhkYS1iMDQyLTQ3ZTgzZGMyZjA5YyJ9.eyJEYXRhU291cmNlSWQiOiIzYmFhMmI5Ny1mYmM2LTQ5MTgtOTQ3Zi0yYWJlNDZjOGI5NTQiLCJ0eXBlIjoic2VydmljZSIsInZlcnNpb24iOiIxLjAiLCJ0ZW5hbnRpZCI6IjM3M2FhOTdiLWVhNTMtNDk3NS05NDIyLWE4MzgzYWY3ZTE0ZSIsInNpaWQiOiJjNTIyYWMwMS1mZjczLTQxYWQtYjFlYi1mOGMwNTUxMzM4ZjkiLCJqdGkiOiJhN2Q3OWIxMS0yMDNiLTQyZmEtODVmZi1iOWRlMjI1NGZiOGYiLCJpc3MiOiJwcm9vZm9maWRlbnRpdHlzZXJ2aWNlIn0.K0pXMuYhK-dPm8V8IOvgPNqUN2guoszBOT43tRjSOTNnTV86-4ROHSq4sfNIP8ks0Eu7DmO3OWXI8Sij8zJkeffmstZZOncxzSO2M1S25FzMWURqgwIy5kTgWpfrdf-CCwgGm3CfT98Lk3ZFUFj1J78733pU3SAi5TCtuFanQ5XGX07OQgDjGXvE2eT9CCnRyc2BtKLUiQOu79oJRMDY_JqI6swoJ3Ac6wOYmD4kr572mNuKbZddjHQie0p4emsypY2DoJlUTbu2jGpIEO0IfeNYDuv2Dnwt1OBsB5j2szGo0-rQgUAp8dA3F4faIoPazLaz1pfr_lpCknwbazgMew\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["b2e849c4.f3e638"]]},{"id":"e5f80222.c54e4","type":"function","z":"19870539.6894fb","name":"Modify payload","func":"var pl = msg.payload;\npl[\"DateTime\"] = pl[\"time\"];\ndelete pl[\"time\"];\ndelete pl[\"index\"];\nmsg.payload = pl;\nreturn msg;\n","outputs":1,"noerr":0,"x":140,"y":300,"wires":[["46459283.3d273c"]]},{"id":"73b0c5a0.a658fc","type":"link in","z":"19870539.6894fb","name":"","links":["943c957d.06ac58"],"x":195,"y":360,"wires":[["e5f80222.c54e4"]]},{"id":"30111d4d.8312c2","type":"debug","z":"19870539.6894fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":420,"wires":[]},{"id":"635ac8ee.41fb88","type":"debug","z":"19870539.6894fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":20,"wires":[]},{"id":"9176acb2.ce15a","type":"debug","z":"19870539.6894fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":140,"wires":[]},{"id":"1a9b7963.090a57","type":"tab","label":"Live model - WW output Integration","disabled":false,"info":""},{"id":"3d0d8c0d.abf9b4","type":"inject","z":"1a9b7963.090a57","name":"Loop","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"0.1","x":190,"y":160,"wires":[["1895a2ee.e7de7d"]]},{"id":"2b1fd6d6.98006a","type":"ui_button","z":"1a9b7963.090a57","name":"","group":"8a5129a.c2d6ad8","order":1,"width":3,"height":2,"passthru":true,"label":"RUN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RUN","payloadType":"str","topic":"","x":710,"y":56,"wires":[["aa68e2ad.6c57b"]]},{"id":"cffce36.ce4002","type":"batch","z":"1a9b7963.090a57","name":"","mode":"count","count":"6","overlap":"5","interval":10,"allowEmptySequence":false,"topics":[],"x":897,"y":240,"wires":[["cc7039d7.53f548"]]},{"id":"cc7039d7.53f548","type":"join","z":"1a9b7963.090a57","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1017,"y":240,"wires":[["62488096.bb09d"]]},{"id":"c6f6180d.2c2918","type":"function","z":"1a9b7963.090a57","name":"confidences","func":"var pl = msg.payload;\nif (pl == []) return {payload:[]};\n\nvar m = {};\nm.inner = [];\nm.labels = [];\nvar len = pl.length;\nfor (var i in pl.slice(0,-1)) {\n    m.inner[i] = pl[i].confidence*100;\n    m.labels[i] = i - len;\n}\nm.data = [m.inner];\nm.series = [];\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["31e71c4b.b5bcc4"]]},{"id":"eab68d49.6e08","type":"function","z":"1a9b7963.090a57","name":"predictions","func":"var pl = msg.payload;\nif (pl == []) return {payload:[]};\n\nvar m = {};\nm.inner = [];\nm.labels = [];\nfor (var i in pl.slice(0,-1)) {\n    m.labels[i] = pl[i].prediction;\n    m.inner[i] = 1;\n}\nm.data = [m.inner];\nm.series = [];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["be9088ee.02a168"]]},{"id":"2a41bf3b.39ced","type":"function","z":"1a9b7963.090a57","name":"latest","func":"var pl = msg.payload;\nif (pl.length < 1) return {payload:[]};\n\npl = msg.payload.slice(-1)[0];\n\npl.time = `<center>${pl.time.slice(0,-4).split('T').join('</br>')}</center>`\npl.confidence = pl.confidence*100;\npl.confidence = pl.confidence.toFixed(1) + \"%\"\nswitch (pl.prediction) {\ncase \"normal\" : \n    msg.color = \"blue\";\n   break;\ncase \"warning\" : \n    msg.color = \"red\";\n    break;\ncase \"seal-degr-critical\" : \n    msg.color = \"#00FF00\";\n    break;\ncase \"maintenance\" : \n    msg.color = \"#FF00FF\";\n    break;\ndefault : \n    break;\n}\nmsg.payload = pl;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["500a3dbf.abd314","4c79ac5b.dd00e4","2fdcca68.2ece86"]]},{"id":"79d555f3.dee19c","type":"function","z":"1a9b7963.090a57","name":"Settings","func":"flow.set (\"state\", \"STOP\");\nflow.set (\"offset\", \"earliest\");\nflow.set (\"latest\", 0);\nreturn {payload:[]};\n","outputs":1,"noerr":0,"x":340,"y":73,"wires":[["87a92789.c05d18"]]},{"id":"1895a2ee.e7de7d","type":"switch","z":"1a9b7963.090a57","name":"","property":"state","propertyType":"flow","rules":[{"t":"eq","v":"RUN","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":178,"y":240,"wires":[["33fa211.529dede"],[]]},{"id":"4025009e.a09ab","type":"ui_button","z":"1a9b7963.090a57","name":"","group":"8a5129a.c2d6ad8","order":2,"width":3,"height":2,"passthru":true,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":710,"y":96,"wires":[["aa68e2ad.6c57b"]]},{"id":"9cd14006.b3c37","type":"inject","z":"1a9b7963.090a57","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":60,"wires":[["79d555f3.dee19c"]]},{"id":"87a92789.c05d18","type":"link out","z":"1a9b7963.090a57","name":"","links":["fa058340.90917"],"x":475,"y":133,"wires":[]},{"id":"8d4b032c.d9877","type":"inject","z":"1a9b7963.090a57","name":"","topic":"","payload":"RUN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":56,"wires":[["2b1fd6d6.98006a"]]},{"id":"216cd657.fc826a","type":"change","z":"1a9b7963.090a57","name":"update offset","rules":[{"t":"set","p":"offset","pt":"flow","to":"msg.payload.index + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":737,"y":240,"wires":[["cffce36.ce4002"]]},{"id":"2a799f0d.91bf3","type":"subflow:19870539.6894fb","z":"1a9b7963.090a57","name":"Get 1 Output","env":[],"x":458,"y":240,"wires":[["3e8d8a85.d556c6","2634f2e4.4c665e","69001e14.f85e5"]]},{"id":"33fa211.529dede","type":"function","z":"1a9b7963.090a57","name":"params","func":"params = {\n    offset:flow.get(\"offset\"),\n    liveURL:global.get(\"baseURL\") + global.get(\"liveEndpoint\"),\n    token: global.get(\"falkonryToken\")\n};\nreturn{payload:params} ;","outputs":1,"noerr":0,"x":308,"y":240,"wires":[["2a799f0d.91bf3"]]},{"id":"62488096.bb09d","type":"link out","z":"1a9b7963.090a57","name":"","links":["21b94c82.7b03f4"],"x":1105,"y":240,"wires":[]},{"id":"21b94c82.7b03f4","type":"link in","z":"1a9b7963.090a57","name":"","links":["62488096.bb09d"],"x":195,"y":380,"wires":[["eab68d49.6e08","c6f6180d.2c2918","2a41bf3b.39ced"]]},{"id":"5dbd0a3d.3c12a4","type":"inject","z":"1a9b7963.090a57","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":96,"wires":[["4025009e.a09ab"]]},{"id":"3e8d8a85.d556c6","type":"ui_text","z":"1a9b7963.090a57","group":"bac1a196.e1ca1","order":3,"width":10,"height":1,"name":"Log","label":"","format":"<font size=\"1\">{{msg.issue}}</font>","layout":"row-center","x":824.0000076293945,"y":397.00000190734863,"wires":[]},{"id":"69001e14.f85e5","type":"switch","z":"1a9b7963.090a57","name":"","property":"issue","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":196,"wires":[["216cd657.fc826a"],[]]},{"id":"2634f2e4.4c665e","type":"debug","z":"1a9b7963.090a57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":300,"wires":[]},{"id":"aa68e2ad.6c57b","type":"change","z":"1a9b7963.090a57","name":"Set State","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":80,"wires":[[]]},{"id":"fa058340.90917","type":"link in","z":"1a9b7963.090a57","name":"","links":["87a92789.c05d18"],"x":75,"y":240,"wires":[["1895a2ee.e7de7d"]]},{"id":"be9088ee.02a168","type":"ui_chart","z":"1a9b7963.090a57","name":"","group":"bac1a196.e1ca1","order":1,"width":10,"height":2,"label":"Predictions","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting For Data","dot":true,"ymin":"0","ymax":"0","removeOlder":1,"removeOlderPoints":"6","removeOlderUnit":"86400","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":340,"wires":[[]]},{"id":"31e71c4b.b5bcc4","type":"ui_chart","z":"1a9b7963.090a57","name":"","group":"bac1a196.e1ca1","order":2,"width":10,"height":5,"label":"Confidences","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting For Data","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"6","removeOlderUnit":"86400","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":380,"wires":[[]]},{"id":"500a3dbf.abd314","type":"ui_text","z":"1a9b7963.090a57","group":"e574136e.f97f9","order":2,"width":4,"height":2,"name":"","label":"Time","format":"<font color={{msg.color}} > {{msg.payload.time}} </font>","layout":"col-center","x":550,"y":420,"wires":[]},{"id":"4c79ac5b.dd00e4","type":"ui_text","z":"1a9b7963.090a57","group":"e574136e.f97f9","order":3,"width":4,"height":3,"name":"","label":"Confidence","format":"{{msg.payload.confidence}}","layout":"col-center","x":570,"y":460,"wires":[]},{"id":"2fdcca68.2ece86","type":"ui_text","z":"1a9b7963.090a57","group":"e574136e.f97f9","order":1,"width":4,"height":3,"name":"","label":"Prediction","format":"<font color={{msg.color}} > {{msg.payload.prediction}} </font>","layout":"col-center","x":560,"y":500,"wires":[]},{"id":"8a5129a.c2d6ad8","type":"ui_group","z":"","name":"Actions","tab":"afa98e3f.b764c","order":3,"disp":true,"width":3,"collapse":false},{"id":"bac1a196.e1ca1","type":"ui_group","z":"","name":"Recent","tab":"afa98e3f.b764c","order":4,"disp":true,"width":"10","collapse":false},{"id":"e574136e.f97f9","type":"ui_group","z":"","name":"Latest","tab":"afa98e3f.b764c","order":5,"disp":true,"width":"4","collapse":false},{"id":"afa98e3f.b764c","type":"ui_tab","z":"","name":"WWI Integration- Live Dashboard","icon":"dashboard","order":3,"disabled":false,"hidden":false}]