node-red/Wonderware Integration Demo/Wonderware to LRS - Ingest.json
[{"id":"45d88e1b.5bec7","type":"tab","label":"Wonderware to LRS - Ingest","disabled":false,"info":""},{"id":"c3d9c650.62efb8","type":"switch","z":"45d88e1b.5bec7","name":"SWITCH","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"CREATE_JOB","vt":"str"},{"t":"eq","v":"INGEST_DATA","vt":"str"},{"t":"eq","v":"COMPLETE_JOB","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":300,"wires":[["862477e8.168db8"],["c79e597d.adfb28"],["918ba875.bbddc8"]]},{"id":"96f4a78c.f85218","type":"function","z":"45d88e1b.5bec7","name":"URL Builder","func":"\nmsg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"Content-Type\": flow.get(\"contentType\")\n    },\n    method: 'POST',\n    url: global.get(\"baseURL\") + \"accounts/\" + flow.get(\"accountId\") + \"/jobs\",\n    payload:{\n        \"jobType\" : \"INGESTDATA\",\n        \"status\" : \"CREATED\",\n        \"datastream\" : flow.get(\"datastreamId\"),\n        \"spec\" : msg.ingestSpec\n        \n        \n    },\n    action: flow.get(\"action\"),\n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["bf3803d4.6b597"]]},{"id":"bf3803d4.6b597","type":"http request","z":"45d88e1b.5bec7","name":"Execute Request","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":300,"wires":[["8c342fa1.0cddf","a0875a97.780928","e3bd50b1.93f65"]]},{"id":"9511ff7a.258dd","type":"function","z":"45d88e1b.5bec7","name":"get JobId & Set Task","func":"\nif(msg.action == \"CREATE_JOB\"){\n    msg.action = 'INGEST_DATA';\n    flow.set(\"action\",\"INGEST_DATA\");\n    flow.set(\"jobId\",msg.payload.id);\n}else if(msg.action == \"INGEST_DATA\"){\n    msg.jobId = msg.url.split('/')[10];\n    msg.action = \"COMPLETE_JOB\";\n    flow.set(\"action\",msg.action);\n}\nelse if (msg.action == \"COMPLETE_JOB\")\n{\n    msg.action = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":360,"wires":[["c3d9c650.62efb8"]]},{"id":"918ba875.bbddc8","type":"function","z":"45d88e1b.5bec7","name":"URL Builder","func":"msg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"Content-Type\": flow.get(\"contentType\")\n    },\n    method:'PUT',\n    url: global.get(\"baseURL\") + \"accounts/\" + flow.get(\"accountId\") + \"/jobs/\" + msg.jobId,\n    payload: {\n    \"jobType\" : \"INGESTDATA\",\n        \"status\" : \"COMPLETED\",\n    },\n    action: flow.get(\"action\")\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["bf3803d4.6b597"]]},{"id":"2965ff0e.7c075","type":"function","z":"45d88e1b.5bec7","name":"URL Builder","func":"var pl = msg.payload\nmsg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"content-type\":\"text/csv\"\n    },\n    method:'POST',\n    url: global.get(\"baseURL\") + \"accounts/\" + flow.get(\"accountId\") + \n    \"/datastreams/\"+ flow.get(\"datastreamId\") + \n    \"/ingestdata/\" + flow.get(\"jobId\") + \"/inputs\",\n    payload:pl,\n    action: flow.get(\"action\")\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["bf3803d4.6b597"]]},{"id":"8c342fa1.0cddf","type":"link out","z":"45d88e1b.5bec7","name":"Response output","links":["faa669ac.064228"],"x":1255,"y":300,"wires":[]},{"id":"862477e8.168db8","type":"change","z":"45d88e1b.5bec7","name":"Ingest Settings","rules":[{"t":"set","p":"ingestSpec","pt":"msg","to":"{\"format\":{\"entityIdentifier\":\"entity\",\"timeIdentifier\":\"time\",\"signalIdentifier\":\"signal\",\"valueIdentifier\":\"value\",\"timeFormat\":\"iso_8601\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["96f4a78c.f85218"]]},{"id":"faa669ac.064228","type":"link in","z":"45d88e1b.5bec7","name":"","links":["8c342fa1.0cddf"],"x":15,"y":300,"wires":[["9511ff7a.258dd"]]},{"id":"6268fb06.f09b54","type":"function","z":"45d88e1b.5bec7","name":"Falkonry Settings","func":"var topic = msg.topic;\n//var bURL = msg.payload.baseURL;\nif(topic === \"default\")\n{\nglobal.set(\"baseURL\",\"https://dev.falkonry.ai/api/1.1/\");\nglobal.set(\"falkonryToken\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE4ODQwNzM4MzUsICJlbWFpbCIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAibmFtZSIgOiAia2V2YWwuYmhhbnVzaGFsaUBmYWxrb25yeS5jb20iLCAic2Vzc2lvbiIgOiAiNjIzNDU1NzU2MzYzMDE0MTQ0IiB9.hXNfyXcT9xIfqIPxqOeheLrXuP9TAdhBLyyUjcc97-0\");\nglobal.set(\"wwURL\",\"https://insight.connect.aveva.com/apis/Historian/v2/\");\nglobal.set(\"wwToken\",\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjNjNmRhMGRiLTU5ZDgtNDhjOS1hY2MzLTBlMjJiNTU0ZGI5MSJ9.eyJ0eXBlIjoic2VydmljZSIsInZlcnNpb24iOiIxLjAiLCJ0ZW5hbnRpZCI6IjM3M2FhOTdiLWVhNTMtNDk3NS05NDIyLWE4MzgzYWY3ZTE0ZSIsInNpaWQiOiJkZDU0NjQyOS04ZGQ0LTQ1NzQtODA0ZS03NTFhNTk4ZTUxNzEiLCJqdGkiOiI5NmFlNDk1Yy04YTJhLTRiYzEtOWVmNS05MjdkOWRlMGM5MmYiLCJpc3MiOiJwcm9vZm9maWRlbnRpdHlzZXJ2aWNlIn0.IKca5z7oP6M1RFK-qn6gv46u9Nf2fAzWFre3fDe81bWUcQBYdkvCq2Gca696rXd8IwLLdMGOjFWJ0H7dd43889jZSMUEJiw1Mq4wAUk53_ujHAM9d9Ztp1gZWS8d0kIADSXbOZwPoYuhJoO3eQ15YyzsDjkQ5lTXYx6Cqhs2qlqQr0DcW9Wr39bRNJ6H-SitqshDqSEYwsUtno5FsAnqoFeMuApTQm3UgerFlCfICZgg7n5P0nbzZJJ0D83PYjbemGoqI5k2G9ktGHPQ3UciL2mdqSf5srxP6Hc1lDEQHSqjMa-EJcwnruE3D0SCIq0VoDpNqDJx-dFfCKDkgijSKA\");\nglobal.set(\"wwQuery\",\"ProcessValues?$filter=DateTime ge 2016-02-17T10:30:00.000000Z and DateTime le 2016-02-21T10:28:50.00000Z&RetrievalMode=Full&TagFilter=startswith(FQN,'WideData')\");\nflow.set(\"accountId\",\"600756889714286592\");\nflow.set(\"name\",\"WW_Insights_Data_Default\");\nflow.set(\"isBatch\",false);\nflow.set(\"contentType\", \"application/json\");\nflow.set(\"action\",\"CREATE_JOB\");\nmsg.issue = \"Default input selected; creating datastream\";\nreturn msg;\n}\nelse if(topic === \"user\")\n{\nglobal.set(\"falkonryToken\",msg.payload.falkonryToken);\nglobal.set(\"baseURL\",msg.payload.baseURL);\nglobal.set(\"wwURL\",msg.payload.wwURL);\nglobal.set(\"wwToken\",msg.payload.wwToken);\nglobal.set(\"wwQuery\",msg.payload.wwQuery);\nflow.set(\"accountId\",msg.payload.accountId);\nflow.set(\"name\",msg.payload.name);\nflow.set(\"isBatch\",msg.payload.isBatch);\nflow.set(\"contentType\", \"application/json\");\nflow.set(\"action\",\"CREATE_JOB\");\n}\nmsg.issue = \"User configuration received,creating datastream\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["d47e537c.dac2d","2152c389.43f9dc"]]},{"id":"d47e537c.dac2d","type":"function","z":"45d88e1b.5bec7","name":"Build URL","func":"msg = {\n    headers:{\n       \"Authorization\":\"Bearer \" + global.get(\"falkonryToken\"),\n       \"Content-Type\": flow.get(\"contentType\")\n    },\n    method: 'POST',\n    url: global.get(\"baseURL\") + \"accounts/\" + flow.get(\"accountId\") + \"/datastreams\",\n    payload:{\n        \"name\": flow.get(\"name\"),\n        \"isBatch\": flow.get(\"isBatch\")\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":60,"wires":[["e7150538.556fc8"]]},{"id":"e7150538.556fc8","type":"http request","z":"45d88e1b.5bec7","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":630,"y":60,"wires":[["e4a5ffaf.b8bac","40b6dd82.dcadf4"]]},{"id":"e4a5ffaf.b8bac","type":"json","z":"45d88e1b.5bec7","name":"","property":"payload","action":"","pretty":false,"x":790,"y":60,"wires":[["98b9eb36.796698"]]},{"id":"98b9eb36.796698","type":"change","z":"45d88e1b.5bec7","name":"","rules":[{"t":"set","p":"datastreamId","pt":"flow","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":60,"wires":[["2eb199f4.289866","ee7ff132.03596"]]},{"id":"ee7ff132.03596","type":"link out","z":"45d88e1b.5bec7","name":"Create Datastream Op","links":["3c5bf9e4.8c5336"],"x":1175,"y":60,"wires":[]},{"id":"3c5bf9e4.8c5336","type":"link in","z":"45d88e1b.5bec7","name":"Ingestion Ip","links":["ee7ff132.03596"],"x":40,"y":220,"wires":[["6e2b6ae3.f31f44"]]},{"id":"6e2b6ae3.f31f44","type":"change","z":"45d88e1b.5bec7","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"action","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":220,"wires":[["c3d9c650.62efb8"]]},{"id":"f49947cd.028d78","type":"http request","z":"45d88e1b.5bec7","name":"Get Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":560,"wires":[["49671f06.2cd97","f6773e7e.0960c","727ff0a3.ab818"]]},{"id":"49671f06.2cd97","type":"json","z":"45d88e1b.5bec7","name":"","property":"payload","action":"","pretty":false,"x":510,"y":560,"wires":[["52cedfdf.0ee51"]]},{"id":"52cedfdf.0ee51","type":"function","z":"45d88e1b.5bec7","name":"Transform","func":"var value = [];\nvar entity = [];\nvar DateTime = [];\nvar signal = [];\nvar combine = \"time,entity,signal,value\\n\";\nfor (var i = 0; i < msg.payload.value.length ; i++)\n{\n    \n    if(msg.payload.value[i].FQN !='WideData.entity')\n    {\n        DateTime += msg.payload.value[i].DateTime + \",\";\n        entity += \"machine1\" + \",\";\n        signal += msg.payload.value[i].FQN.split('.').pop() + \",\";\n        value += msg.payload.value[i].Value + \",\";\n    }\n    \n}\nDateTime = DateTime.split(\",\");\nentity = entity.split(\",\");\nsignal = signal.split(\",\");\nvalue = value.split(\",\");\nfor (i = 0; i < msg.payload.value.length ; i++)\n{\n    \n    combine += DateTime[i]+ \",\" +entity[i]+ \",\" + signal[i]+ \",\" +value[i]+ \"\\n\";\n}\ncombine = combine.split('\\n');\ncombine = combine.slice(0,4545);\ncombine = combine.join('\\n');\nflow.set(\"combine\",combine);\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["3be40f5a.b69b7"]]},{"id":"dac52982.ff0408","type":"function","z":"45d88e1b.5bec7","name":"Wonderware settings","func":"flow.set(\"add\",\"\");\nmsg = {\n    headers:{\n       \"Authorization\":'Bearer ' + global.get(\"wwToken\"),\n    },\n    method:\"GET\",\n    url: global.get(\"wwURL\") + global.get(\"wwQuery\")\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":160,"y":560,"wires":[["f49947cd.028d78"]]},{"id":"3be40f5a.b69b7","type":"change","z":"45d88e1b.5bec7","name":"Next Page of Data","rules":[{"t":"set","p":"nextPage","pt":"flow","to":"payload[\"@odata.nextLink\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":560,"wires":[["e6d9a87e.1378c8"]]},{"id":"1427d52f.3bbc6b","type":"link out","z":"45d88e1b.5bec7","name":"","links":["c27bebf4.1fc058"],"x":495,"y":660,"wires":[]},{"id":"9fc01411.501c58","type":"function","z":"45d88e1b.5bec7","name":"URL next 5k records","func":"msg = {\n    headers:{\n       \"Authorization\":'Bearer ' + global.get(\"wwToken\"),\n    },\n    method:\"GET\",\n    url:flow.get(\"nextPage\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":700,"wires":[["2398e92c.57b696"]]},{"id":"d8e2beb1.795d1","type":"function","z":"45d88e1b.5bec7","name":"Transform","func":"if (typeof msg.payload[\"@odata.nextLink\"] !== 'undefined')\n{\n    flow.set(\"nextPage\",msg.payload[\"@odata.nextLink\"]);\n    \n}\nelse{\n    flow.set(\"nextPage\",\"None\");\n    \n}\nvar add = flow.get(\"add\");\nvar value = [];\nvar entity = [];\nvar DateTime = [];\nvar signal = [];\nvar combine = \"\";\nfor (var i = 0; i < msg.payload.value.length ; i++)\n{\n    \n    if(msg.payload.value[i].FQN !='WideData.entity')\n    {\n        DateTime += msg.payload.value[i].DateTime + \",\";\n        entity += \"machine1\" + \",\";\n        signal += msg.payload.value[i].FQN.split('.').pop() + \",\";\n        value += msg.payload.value[i].Value + \",\";\n    }\n    \n}\nDateTime = DateTime.split(\",\");\nentity = entity.split(\",\");\nsignal = signal.split(\",\");\nvalue = value.split(\",\");\nfor (i = 0; i < msg.payload.value.length ; i++)\n{\n    \n    combine += DateTime[i]+ \",\" +entity[i]+ \",\" + signal[i]+ \",\" +value[i]+ \"\\n\";\n}\ncombine = combine.split('\\n');\ncombine = combine.slice(0,4545);\ncombine = combine.join('\\n');\nadd += \"\\n\" + combine;\n\nflow.set(\"add\",add);\n\nmsg.payload = flow.get(\"combine\") + \"\\n\" + flow.get(\"add\");\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":700,"wires":[["afbdc732.3502e8"]]},{"id":"2398e92c.57b696","type":"http request","z":"45d88e1b.5bec7","name":"Get Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":700,"wires":[["d7fbcb0f.56f618","45f21b63.386324"]]},{"id":"d7fbcb0f.56f618","type":"json","z":"45d88e1b.5bec7","name":"","property":"payload","action":"","pretty":false,"x":650,"y":700,"wires":[["d8e2beb1.795d1"]]},{"id":"224926c1.b6ecba","type":"link in","z":"45d88e1b.5bec7","name":"","links":["afbdc732.3502e8"],"x":15,"y":700,"wires":[["77f3ba06.a958a4"]]},{"id":"afbdc732.3502e8","type":"link out","z":"45d88e1b.5bec7","name":"","links":["224926c1.b6ecba"],"x":895,"y":700,"wires":[]},{"id":"77f3ba06.a958a4","type":"switch","z":"45d88e1b.5bec7","name":"All records?","property":"nextPage","propertyType":"flow","rules":[{"t":"eq","v":"None","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":640,"wires":[["1427d52f.3bbc6b","5332eb0b.73cab4"],["9fc01411.501c58"]]},{"id":"c27bebf4.1fc058","type":"link in","z":"45d88e1b.5bec7","name":"","links":["1427d52f.3bbc6b"],"x":635,"y":300,"wires":[["2965ff0e.7c075"]]},{"id":"9373df77.2b39c","type":"link in","z":"45d88e1b.5bec7","name":"","links":["c79e597d.adfb28"],"x":15,"y":560,"wires":[["dac52982.ff0408"]]},{"id":"c79e597d.adfb28","type":"link out","z":"45d88e1b.5bec7","name":"","links":["9373df77.2b39c"],"x":420,"y":300,"wires":[]},{"id":"425879ec.2fd1e8","type":"comment","z":"45d88e1b.5bec7","name":"Fetch Data From WW (flow below)","info":"","x":560,"y":260,"wires":[]},{"id":"9050ac4c.70ce1","type":"comment","z":"45d88e1b.5bec7","name":"Create New Datastream","info":"","x":100,"y":20,"wires":[]},{"id":"cbcb2f77.c1b69","type":"comment","z":"45d88e1b.5bec7","name":"Ingest Data into Falkonry","info":"","x":110,"y":180,"wires":[]},{"id":"3086e221.a52f9e","type":"comment","z":"45d88e1b.5bec7","name":"Get data from WW insights","info":"","x":110,"y":480,"wires":[]},{"id":"4c46449f.d870ac","type":"ui_text","z":"45d88e1b.5bec7","group":"ece64cd6.d6564","order":1,"width":6,"height":3,"name":"Progress Tab","label":"","format":"{{msg.issue}}","layout":"col-center","x":1430,"y":220,"wires":[]},{"id":"45a2cf99.2b431","type":"ui_form","z":"45d88e1b.5bec7","name":"","label":"","group":"2b8b182d.acb1e8","order":1,"width":10,"height":9,"options":[{"label":"<<Falkonry-server-address>>","value":"baseURL","type":"text","required":true},{"label":"Falkonry-Token","value":"falkonryToken","type":"password","required":true},{"label":"Account Id","value":"accountId","type":"text","required":true},{"label":"Datastream Name","value":"name","type":"text","required":true},{"label":"Is Batch","value":"isBatch","type":"switch","required":true},{"label":"<<Wonderware Insights(wwi)-ingest-address>>","value":"wwURL","type":"text","required":true},{"label":"wwi-Token","value":"wwToken","type":"password","required":true},{"label":"<<wwi-urlQuery>>","value":"wwQuery","type":"text","required":true}],"formValue":{"baseURL":"","falkonryToken":"","accountId":"","name":"","isBatch":false,"wwURL":"","wwToken":"","wwQuery":""},"payload":"","submit":"submit","cancel":"cancel","topic":"user","x":70,"y":100,"wires":[["6268fb06.f09b54"]]},{"id":"2eb199f4.289866","type":"function","z":"45d88e1b.5bec7","name":"Set ui message","func":"msg.issue = \"New Datastream \"+flow.get(\"name\") + \" has been created.\\n datastream id is: \" + flow.get(\"datastreamId\") + \". \\n\\n Preparing to ingestdata from Wonderware Insights...\";\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":140,"wires":[["4c46449f.d870ac"]]},{"id":"d3e9e215.8aa0c","type":"ui_button","z":"45d88e1b.5bec7","name":"Run Default","group":"2b8b182d.acb1e8","order":3,"width":6,"height":1,"passthru":false,"label":"Use Default Configurations","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"default","x":90,"y":60,"wires":[["6268fb06.f09b54"]]},{"id":"a0875a97.780928","type":"function","z":"45d88e1b.5bec7","name":"Set ui message","func":"if ((msg.statusCode == 201 || msg.statusCode == 200)  && msg.action == \"CREATE_JOB\")\n{\n    msg.issue = \"New data ingest job created. \\n Connecting to Wonderware\";\n    \n}\nelse if ((msg.statusCode == 200) && msg.action == \"INGEST_DATA\")\n{\n    msg.issue = \"Wonderware data ingested. \\n Terminating ingest job and starting data_digest\";\n    \n}\nelse if (( msg.statusCode == 200) && msg.action == \"COMPLETE_JOB\")\n{\n    msg.issue = \"Ingest job completed;Check digest job status on Falkonry\";\n    \n}\nelse \n{\n    msg.issue =  msg.action + \"error; \" + \" Status Code: \"+ msg.statusCode + \". \\n Kindly try again or check node-red flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":220,"wires":[["4c46449f.d870ac"]]},{"id":"f6773e7e.0960c","type":"function","z":"45d88e1b.5bec7","name":"Set ui message","func":"if(msg.statusCode === 200)\n{msg.issue = \"Successfully connected to Wonderware Insights. \\n Found first 5000 records; fetching the rest\";}\nelse if(msg.statusCode !== 200)\n{\n    msg.issue = \"Error in connecting to Wonderware Insights; \" + \" Status Code\"+ msg.statusCode + \"Kindly try again or check node-red flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":460,"wires":[["4c46449f.d870ac"]]},{"id":"5332eb0b.73cab4","type":"function","z":"45d88e1b.5bec7","name":"Set ui message","func":"msg.issue = \"Obtained all records from Wonderware Insights. Pushing data into Falkonry\";\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":600,"wires":[["4c46449f.d870ac"]]},{"id":"c940d4b8.704338","type":"inject","z":"45d88e1b.5bec7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":800,"wires":[["5660e346.9358bc"]]},{"id":"5660e346.9358bc","type":"change","z":"45d88e1b.5bec7","name":"Progress Tab Default","rules":[{"t":"set","p":"issue","pt":"msg","to":"Submit configs or run default to Begin!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":800,"wires":[["8a9eac58.02675"]]},{"id":"8a9eac58.02675","type":"link out","z":"45d88e1b.5bec7","name":"","links":["f3d33487.5058a8"],"x":515,"y":800,"wires":[]},{"id":"f3d33487.5058a8","type":"link in","z":"45d88e1b.5bec7","name":"","links":["8a9eac58.02675"],"x":1315,"y":400,"wires":[["4c46449f.d870ac"]]},{"id":"e3bd50b1.93f65","type":"debug","z":"45d88e1b.5bec7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":360,"wires":[]},{"id":"727ff0a3.ab818","type":"debug","z":"45d88e1b.5bec7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":500,"wires":[]},{"id":"45f21b63.386324","type":"debug","z":"45d88e1b.5bec7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":760,"wires":[]},{"id":"2152c389.43f9dc","type":"link out","z":"45d88e1b.5bec7","name":"","links":["515f5893.2199b8"],"x":435,"y":100,"wires":[]},{"id":"515f5893.2199b8","type":"link in","z":"45d88e1b.5bec7","name":"","links":["2152c389.43f9dc"],"x":1295,"y":140,"wires":[["4c46449f.d870ac"]]},{"id":"e6d9a87e.1378c8","type":"link out","z":"45d88e1b.5bec7","name":"","links":["bbb13b54.64cb68"],"x":975,"y":560,"wires":[]},{"id":"bbb13b54.64cb68","type":"link in","z":"45d88e1b.5bec7","name":"","links":["e6d9a87e.1378c8"],"x":35,"y":620,"wires":[["77f3ba06.a958a4"]]},{"id":"a72bb5da.05b2d8","type":"comment","z":"45d88e1b.5bec7","name":"Progress Tab Reset on deploy","info":"","x":120,"y":760,"wires":[]},{"id":"40b6dd82.dcadf4","type":"debug","z":"45d88e1b.5bec7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":140,"wires":[]},{"id":"ece64cd6.d6564","type":"ui_group","z":"","name":"Progress Tab","tab":"e0c37d21.9f9f1","disp":true,"width":8,"collapse":true},{"id":"2b8b182d.acb1e8","type":"ui_group","z":"","name":"Get Configurations","tab":"e0c37d21.9f9f1","disp":true,"width":"10","collapse":false},{"id":"e0c37d21.9f9f1","type":"ui_tab","z":"","name":"WWI Integration - LRS Ingest","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
